/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

#message {
  width: 200px; }

/*****Cores*****/
@font-face {
  font-family: 'fjalla_oneregular';
  src: url("../fonts/fjallaone-regular-webfont.eot");
  src: url("../fonts/fjallaone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fjallaone-regular-webfont.woff") format("woff"), url("../fonts/fjallaone-regular-webfont.ttf") format("truetype"), url("../fonts/fjallaone-regular-webfont.svg#fjalla_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 1em;
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  background-color: #f0f0f0;
  min-width: 1140px; }
  body p {
    font-size: 13px;
    margin-bottom: 1.2em;
    color: #4d4d4d; }
  body h1, body .clearfix {
    line-height: 1em; }

.conteudo {
  min-height: 560px;
  padding-top: 60px !important; }

.bx-next, .bx-prev {
  display: block;
  width: 54px;
  height: 45px; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -57px; }

footer, .push {
  height: 56px; }

.left {
  float: left; }

.right {
  float: right; }

.page-imagem {
  float: right;
  margin-top: 50px; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.interna {
  width: 960px;
  margin: 0 auto; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.projetos .projeto-box {
  display: block; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/
.realupload {
  width: 128px;
  height: 20px;
  float: left;
  position: absolute;
  margin-left: 61px;
  opacity: 0; }

.conteudo.busca .produto-busca-wrapper {
  width: 290px;
  float: left;
  margin: 0 23px;
  text-decoration: none;
  color: #333;
  height: 230px;
  margin-bottom: 20px; }
  .conteudo.busca .produto-busca-wrapper.assentos {
    height: 350px; }
  .conteudo.busca .produto-busca-wrapper .produto-busca-titulo {
    font-size: 16px; }
  .conteudo.busca .produto-busca-wrapper .produto-busca-resumo {
    font-size: 12px; }
.conteudo.busca h1, .conteudo.busca p {
  margin-left: 23px; }

body > header, .wrapper > header {
  width: 100%;
  height: 98px;
  background-color: #FFF; }
  body > header .logo-wrapper, .wrapper > header .logo-wrapper {
    width: 2400px;
    height: 99px;
    position: absolute;
    right: 50%;
    background: #4d4d4d; }
    body > header .logo-wrapper .quadrado, .wrapper > header .logo-wrapper .quadrado {
      display: block;
      width: 306px;
      height: 100px;
      background: #4d4d4d; }
  body > header .sociais-busca, .wrapper > header .sociais-busca {
    float: right;
    margin-right: 80px; }
    body > header .sociais-busca ul, .wrapper > header .sociais-busca ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      body > header .sociais-busca ul li, .wrapper > header .sociais-busca ul li {
        float: left;
        margin-right: 10px; }
        body > header .sociais-busca ul li a.twitter, body > header .sociais-busca ul li a.facebook, .wrapper > header .sociais-busca ul li a.twitter, .wrapper > header .sociais-busca ul li a.facebook {
          display: block;
          width: 20px;
          height: 20px;
          background: url(../img/icone-twitter.png); }
        body > header .sociais-busca ul li a.facebook, .wrapper > header .sociais-busca ul li a.facebook {
          background: url(../img/icone-facebook.png); }
    body > header .sociais-busca input, .wrapper > header .sociais-busca input {
      height: 20px; }
    body > header .sociais-busca input[type=text], .wrapper > header .sociais-busca input[type=text] {
      width: 130px;
      border: none;
      float: left;
      background-color: #e3e3e3;
      padding: 0;
      padding-right: 20px;
      font-size: 13px;
      line-height: 20px;
      color: #999; }
    body > header .sociais-busca input[type=submit], .wrapper > header .sociais-busca input[type=submit] {
      width: 20px;
      height: 20px;
      background: url(../img/icone-lupa.png);
      border: none;
      padding: 0;
      float: left;
      margin-left: -20px; }
  body > header .interna, .wrapper > header .interna {
    width: 1140px;
    position: relative;
    background-color: #FFF; }
  body > header .marca, .wrapper > header .marca {
    width: 196px;
    height: 99px;
    background-color: #4d4d4d;
    background-image: url(../img/marca.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    position: relative; }
  body > header .ponta, .wrapper > header .ponta {
    width: 65px;
    height: 99px;
    float: left;
    background: url(../img/ponta.png); }
  body > header nav, .wrapper > header nav {
    float: right; }
    body > header nav ul, .wrapper > header nav ul {
      margin: 0;
      padding: 0; }
      body > header nav ul li, .wrapper > header nav ul li {
        float: left;
        margin-left: 33px; }
        body > header nav ul li a, .wrapper > header nav ul li a {
          display: block;
          height: 12px;
          padding-top: 15px;
          margin-top: 41px;
          color: #828282;
          font-family: "fjalla_oneregular", sans-serif;
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none; }
          body > header nav ul li a:hover, body > header nav ul li a.active, .wrapper > header nav ul li a:hover, .wrapper > header nav ul li a.active {
            color: #ABABAB;
            background-image: url(../img/quadrado-claro.png);
            background-position: center 0;
            background-repeat: no-repeat; }
  body > header .social, .wrapper > header .social {
    margin: 20px 0 0;
    padding: 0; }
    body > header .social li, .wrapper > header .social li {
      list-style-type: none; }
      body > header .social li a, .wrapper > header .social li a {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../img/facebook.png);
        margin-bottom: 2px; }
        body > header .social li a.twitter, .wrapper > header .social li a.twitter {
          background: url(../img/twitter.png); }

.header-shadow {
  width: 100%;
  height: 9px;
  background: url(../img/header-shadow.png) repeat-x; }

/*Footer*/
footer {
  width: 100%;
  height: 56px;
  text-align: center;
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 56px;
  border-top: solid 1px #CACACA;
  background: whitesmoke; }
  footer .interna {
    width: 1126px;
    height: 56px; }
  footer .contato-rodape {
    height: 28px;
    margin-top: 14px;
    line-height: 28px;
    float: left; }
    footer .contato-rodape a {
      text-decoration: none;
      color: #999; }
    footer .contato-rodape .telefone-email {
      float: left;
      margin-right: 26px; }
    footer .contato-rodape .icone-telefone-rodape, footer .contato-rodape .icone-email-rodape {
      display: block;
      margin-top: 9px;
      margin-right: 5px; }
    footer .contato-rodape .icone-telefone-rodape {
      display: inline-block;
      width: 15px;
      height: 11px;
      float: left;
      background: url(../img/icone-telefone.png); }
    footer .contato-rodape .icone-email-rodape {
      display: inline-block;
      width: 16px;
      height: 11px;
      float: left;
      background: url(../img/icone-email.png); }
    footer .contato-rodape .telefone-rodape {
      font-size: 15px; }
      footer .contato-rodape .telefone-rodape .ddd {
        font-size: 12px; }
    footer .contato-rodape .email-rodape {
      margin-left: 20px; }
      footer .contato-rodape .email-rodape .email {
        display: inline-block;
        margin-top: 1px; }
    footer .contato-rodape .endereco {
      width: 437px;
      float: left;
      border-right: solid 1px #CACACA;
      border-left: solid 1px #CACACA; }
  footer .telefone-rodape, footer .email-rodape {
    float: left; }
  footer img {
    margin-left: 4px;
    margin-top: -6px; }
  footer .trupe {
    height: 51px;
    float: left;
    margin-left: 26px;
    font-size: 9px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999; }
    footer .trupe.hover {
      color: #CCC; }
  footer .rodape-wrapper {
    display: inline-block;
    width: 980px;
    margin: 0 auto; }

/*Conteudo*/
.conteudo {
  width: 1013px;
  padding: 0 64px;
  margin: 0 auto;
  background: url(../img/sombras-laterais.png) repeat-y;
  margin-top: -8px; }
  .conteudo .inner {
    width: 960px;
    margin: 0 auto; }
  .conteudo h1, .conteudo h2 {
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #286f67; }
  .conteudo h2 {
    font-size: 20px; }

/*Empresa*/
.conteudo.empresa .texto {
  width: 540px;
  float: left; }
.conteudo.empresa .missao-visao {
  margin-top: 50px; }
.conteudo.empresa .missao, .conteudo.empresa .visao {
  width: 255px;
  float: left; }
.conteudo.empresa .visao {
  float: right; }
.conteudo.empresa .img-wrapper {
  float: left;
  margin-left: 50px;
  margin-top: 60px; }

/*Cases*/
.conteudo.cases .bx-wrapper {
  max-width: 99% !important; }
.conteudo.cases .inner {
  width: 960px;
  margin: 0 auto; }
.conteudo.cases .cases-description {
  width: 967px;
  margin: 0 auto; }
.conteudo.cases .cases-content .case-wrapper {
  display: block;
  float: left;
  text-decoration: none;
  margin: 0 23px;
  margin-bottom: 25px; }
  .conteudo.cases .cases-content .case-wrapper .case-titulo {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    background-image: url(../img/quadrado-escuro.png);
    background-position: left 4px;
    background-repeat: no-repeat;
    padding-left: 8px; }
.conteudo.cases .conteudo-case .sidebar {
  width: 110px;
  float: left; }
  .conteudo.cases .conteudo-case .sidebar h1 {
    margin-top: 60px; }
  .conteudo.cases .conteudo-case .sidebar ul {
    margin: 0;
    padding: 0; }
    .conteudo.cases .conteudo-case .sidebar ul li {
      margin-bottom: 15px; }
      .conteudo.cases .conteudo-case .sidebar ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #4d4d4d;
        font-size: 11px;
        padding-right: 24px;
        display: inline-block; }
        .conteudo.cases .conteudo-case .sidebar ul li a.active {
          padding-left: 14px;
          padding-right: 10px;
          background-image: url(../img/quadrado-escuro.png);
          background-position: left center;
          background-repeat: no-repeat; }
.conteudo.cases .conteudo-case .case-wrapper {
  width: 770px;
  float: right;
  margin-top: 80px; }
.conteudo.cases .conteudo-case .case-image-wrapper {
  text-align: center; }
.conteudo.cases .conteudo-case .case-thumbs {
  width: 792px;
  margin-top: 15px; }
  .conteudo.cases .conteudo-case .case-thumbs a {
    float: left;
    margin-right: 22px;
    margin-bottom: 22px; }
  .conteudo.cases .conteudo-case .case-thumbs ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .conteudo.cases .conteudo-case .case-thumbs ul li {
      float: left;
      margin-right: 22px; }
.conteudo.cases .conteudo-case .case-description {
  padding-bottom: 80px; }
.conteudo.cases .conteudo-case .voltar-wrapper {
  text-align: center;
  height: 20px;
  padding-bottom: 80px; }
.conteudo.cases .conteudo-case .case-voltar {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 15px;
  background: #aeaeae;
  text-shadow: 1px 1px 0 #808080; }

/*Arquitetos*/
.conteudo.arquitetos .statocad {
  width: 450px;
  float: left; }
  .conteudo.arquitetos .statocad .statocad-conheca {
    margin-bottom: 40px; }
  .conteudo.arquitetos .statocad .statocad-image-wrapper {
    text-align: center;
    margin-bottom: 30px; }
  .conteudo.arquitetos .statocad .statocad-suporte h3 {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase; }
.conteudo.arquitetos .form {
  float: right;
  width: 440px;
  background: #FFF;
  padding-bottom: 10px;
  margin-bottom: 80px; }
  .conteudo.arquitetos .form h2 {
    padding-left: 10px; }
  .conteudo.arquitetos .form input[type="text"], .conteudo.arquitetos .form .legend {
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: solid 1px #CACACA;
    outline: none;
    padding-left: 20px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    color: #9E9E9E; }
    .conteudo.arquitetos .form input[type="text"].input4, .conteudo.arquitetos .form .legend.input4 {
      width: 400px; }
    .conteudo.arquitetos .form input[type="text"].input3, .conteudo.arquitetos .form .legend.input3 {
      width: 280px;
      margin: 0;
      float: left;
      margin-left: 11px; }
    .conteudo.arquitetos .form input[type="text"].input1, .conteudo.arquitetos .form .legend.input1 {
      width: 95px;
      padding-left: 5px;
      float: right;
      margin-right: 11px; }
  .conteudo.arquitetos .form label {
    margin-left: 11px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    display: block;
    padding-left: 34px;
    text-indent: -15px;
    margin-bottom: 4px; }
  .conteudo.arquitetos .form input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden; }
  .conteudo.arquitetos .form textarea {
    width: 414px;
    height: 70px;
    margin-left: 11px;
    border: none;
    height: 80px;
    background: url(../img/linha-mensagem.png);
    background-attachment: local;
    margin-top: -20px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    line-height: 40px; }
  .conteudo.arquitetos .form .linha {
    width: 420px;
    height: 1px;
    background: #CACACA;
    margin-left: 11px; }
    .conteudo.arquitetos .form .linha.primeira {
      margin-top: -46px; }
    .conteudo.arquitetos .form .linha.segunda {
      margin-top: 38px; }
  .conteudo.arquitetos .form input[type="submit"] {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-size: 15px;
    background: #aeaeae;
    text-shadow: 1px 1px 0 #808080;
    border: none;
    outline: none;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    float: right;
    margin-right: 11px;
    margin-top: 14px; }

/*Artigos*/
.conteudo.artigos img {
  width: 220px;
  height: 140px;
  float: left;
  margin-right: 40px; }
.conteudo.artigos .novidades {
  border-top: solid 1px #9E9E9E; }
  .conteudo.artigos .novidades h1 {
    margin-top: 0;
    font-size: 20px; }
  .conteudo.artigos .novidades a {
    text-decoration: none;
    color: #4d4d4d; }
.conteudo.artigos .novidade {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px #9E9E9E; }
.conteudo.artigos .noticias-mais {
  float: right;
  font-size: 12px; }
.conteudo.artigos.post .novidades, .conteudo.artigos.post .novidade {
  border: none; }
.conteudo.artigos.post .voltar-wrapper {
  text-align: center;
  height: 20px;
  padding-bottom: 80px; }
.conteudo.artigos.post .noticias-voltar {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 15px;
  background: #aeaeae;
  text-shadow: 1px 1px 0 #808080; }
.conteudo.artigos.post img {
  width: auto;
  height: auto;
  float: none; }

.conteudo.newsletters .icones {
  width: 1005px; }
.conteudo.newsletters .newsletter-wrapper {
  display: block;
  width: 290px;
  height: 220px;
  float: left;
  text-decoration: none;
  margin-right: 45px;
  margin-bottom: 80px; }
  .conteudo.newsletters .newsletter-wrapper .newsletter-data-wrapper {
    position: relative;
    float: right;
    width: 92px;
    height: 70px;
    margin-top: -220px;
    background: rgba(51, 51, 51, 0.91);
    display: block;
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-top: 15px; }

.conteudo.showroom .icone-telefone, .conteudo.showroom .icone-email, .conteudo.showroom .icone-relogio {
  display: inline-block;
  margin-right: 4px; }
.conteudo.showroom .icone-telefone {
  width: 12px;
  height: 9px;
  background: url(../img/showroom-telefone.png); }
.conteudo.showroom .icone-email {
  width: 12px;
  height: 9px;
  background: url(../img/showroom-email.png); }
.conteudo.showroom .icone-relogio {
  width: 12px;
  height: 12px;
  background: url(../img/showroom-horario.png); }
.conteudo.showroom .texto {
  width: 500px;
  float: left;
  margin-top: 86px; }
.conteudo.showroom .mapa {
  float: right; }
.conteudo.showroom .horario {
  margin-top: 30px; }

.hide {
  display: none; }

.pp_close {
  display: none !important; }

.pagination-wrapper {
  text-align: center; }
  .pagination-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 60px;
    margin-top: 15px; }
    .pagination-wrapper ul li {
      width: 15px;
      height: 14px;
      border: solid 1px #828282;
      float: left;
      text-align: center;
      margin-right: 13px;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase; }
      .pagination-wrapper ul li.active a {
        background: #828282;
        color: #fff !important; }
      .pagination-wrapper ul li a {
        display: block;
        width: 15px;
        height: 14px;
        text-decoration: none;
        color: #333; }
        .pagination-wrapper ul li a.active {
          background: #828282;
          color: #fff !important; }
    .pagination-wrapper ul li.next, .pagination-wrapper ul li.prev {
      width: 53px;
      border: none; }

.conteudo.produtos .sidebar {
  width: 110px;
  float: left; }
  .conteudo.produtos .sidebar ul {
    margin: 0;
    padding: 0; }
    .conteudo.produtos .sidebar ul li {
      margin-bottom: 15px; }
      .conteudo.produtos .sidebar ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #4d4d4d;
        font-size: 11px;
        padding-right: 24px;
        display: inline-block; }
        .conteudo.produtos .sidebar ul li a.active {
          padding-left: 14px;
          padding-right: 10px;
          background-image: url(../img/quadrado-escuro.png);
          background-position: left center;
          background-repeat: no-repeat; }
.conteudo.produtos #tabs {
  width: 770px;
  float: right;
  margin-top: 65px; }
  .conteudo.produtos #tabs a {
    text-decoration: none; }
  .conteudo.produtos #tabs .ui-tabs-anchor {
    padding-left: 20px;
    padding-right: 30px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    color: #286f67;
    text-decoration: none;
    outline: none;
    font-size: 13px; }
  .conteudo.produtos #tabs .ui-state-active .ui-tabs-anchor {
    border: solid 1px #e2e2e2;
    border-bottom: none;
    background-color: #f0f0f0; }
.conteudo.produtos #tabs > ul {
  height: 23px;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .conteudo.produtos #tabs > ul li {
    float: left;
    color: #286f67;
    font-size: 14px;
    height: 35px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 10px; }
.conteudo.produtos .produtos-wrapper {
  margin-top: 40px;
  width: 824px; }
  .conteudo.produtos .produtos-wrapper .produto-lista-wrapper {
    width: 362px;
    height: 230px;
    margin-bottom: 15px;
    float: left;
    margin-right: 50px; }
    .conteudo.produtos .produtos-wrapper .produto-lista-wrapper h2 {
      color: #333;
      font-size: 12px;
      text-transform: uppercase;
      background-image: url(../img/quadrado-escuro.png);
      background-position: left 4px;
      background-repeat: no-repeat;
      padding-left: 8px;
      margin-bottom: 0; }
    .conteudo.produtos .produtos-wrapper .produto-lista-wrapper.assentos {
      width: 230px;
      height: 362px;
      margin-right: 40px; }
    .conteudo.produtos .produtos-wrapper .produto-lista-wrapper p {
      font-size: 11px;
      margin-top: 0; }
.conteudo.produtos .produto-wrapper {
  width: 770px;
  float: right;
  margin-top: 80px; }
.conteudo.produtos .produto-image-wrapper {
  text-align: center;
  margin-top: 30px; }
.conteudo.produtos .produto-thumbs {
  width: 792px;
  margin-top: 15px; }
  .conteudo.produtos .produto-thumbs a {
    float: left;
    margin-right: 22px;
    margin-bottom: 22px; }
.conteudo.produtos .produto-description {
  padding-bottom: 80px; }
.conteudo.produtos .voltar-wrapper {
  text-align: center;
  height: 20px;
  padding-bottom: 80px; }
.conteudo.produtos .produto-voltar {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 15px;
  background: #aeaeae;
  text-shadow: 1px 1px 0 #808080; }

.in-slide-content {
  position: absolute;
  bottom: 94px;
  right: 197px;
  display: inline-block;
  height: 60px;
  background: rgba(60, 60, 60, 0.9);
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  z-index: 90000; }
  .in-slide-content a {
    z-index: 90000;
    text-decoration: none;
    color: #fff;
    position: relative; }

.slide_nav, header, footer {
  z-index: 11; }

header, footer {
  position: relative; }

.bxslider {
  padding: 0;
  margin: 0; }
  .bxslider li {
    text-align: right; }

.slide_nav {
  width: 115px;
  position: absolute;
  right: 194px;
  bottom: 156px; }

.slide-content {
  display: inline-block;
  height: 60px;
  padding: 0 20px;
  background: rgba(60, 60, 60, 0.9);
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.control {
  position: absolute;
  top: 50%;
  width: 23px;
  height: 40px;
  background-image: url(../img/home-prev.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: left;
  margin-left: 2px; }

.control#slide_left {
  left: 104px; }

.control#slide_right {
  background-image: url(../img/home-next.png);
  right: 104px; }

.conteudo.pagina .pagina-imagem {
  float: left;
  width: 430px;
  height: 470px; }
.conteudo.pagina .pagina-texto {
  text-align: left; }
  .conteudo.pagina .pagina-texto.has-image {
    width: 500px;
    float: right; }
  .conteudo.pagina .pagina-texto p {
    margin-top: 0;
    font-family: "Dosis", sans-serif;
    font-size: 18px; }

.conteudo.projetos {
  width: 976px; }
  .conteudo.projetos .projeto-box {
    text-align: center;
    width: 188px;
    height: 328px;
    display: block;
    float: left;
    margin: 0 3px 6px 3px;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    text-decoration: none; }
    .conteudo.projetos .projeto-box img {
      opacity: .6; }
    .conteudo.projetos .projeto-box .lupa {
      opacity: 0; }
    .conteudo.projetos .projeto-box .titulo {
      position: relative;
      display: block;
      width: 188px;
      height: 33px;
      line-height: 33px;
      text-transform: uppercase;
      margin-top: -33px;
      color: #fff;
      background: rgba(60, 60, 60, 0.9); }
    .conteudo.projetos .projeto-box:hover img {
      opacity: 1; }
    .conteudo.projetos .projeto-box:hover .lupa {
      opacity: 1; }
    .conteudo.projetos .projeto-box .lupa {
      width: 60px;
      height: 60px;
      display: block;
      background: url(http://concept.dev/assets/css/../img/projetos_hover.png);
      position: relative;
      margin-top: -326px;
      margin-left: 126px; }

.conteudo.pagina.atuacao h2 {
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  color: #3c3c3c; }
.conteudo.pagina.atuacao #accordion .header {
  width: 500px;
  height: 40px;
  display: block;
  background-color: #fff;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  color: #3C3C3C;
  line-height: 40px;
  margin-top: 10px; }
  .conteudo.pagina.atuacao #accordion .header h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    line-height: 40px;
    float: left; }
  .conteudo.pagina.atuacao #accordion .header .item-icone {
    width: 13px;
    height: 13px;
    background: url(../img/atuacao_mais.png);
    float: left;
    margin: 13px; }
  .conteudo.pagina.atuacao #accordion .header.ui-state-active {
    background-color: #3c3c3c; }
    .conteudo.pagina.atuacao #accordion .header.ui-state-active h1 {
      font-weight: bold;
      color: #fff; }
    .conteudo.pagina.atuacao #accordion .header.ui-state-active .item-icone {
      background-image: url(../img/atuacao_menos.png); }
.conteudo.pagina.atuacao #accordion .servicos-texto {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFF; }
  .conteudo.pagina.atuacao #accordion .servicos-texto p {
    font-family: "Dosis", sans-serif; }
  .conteudo.pagina.atuacao #accordion .servicos-texto ul {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    list-style-type: none; }
    .conteudo.pagina.atuacao #accordion .servicos-texto ul li {
      background: url(../img/atuacao_seta.png) no-repeat center left;
      padding-left: 21px;
      font-family: "Dosis", sans-serif;
      margin-bottom: 8px; }

.conteudo.projetos.galeria {
  width: 960px; }
  .conteudo.projetos.galeria .projeto-sidebar {
    width: 200px;
    height: 245px;
    float: left; }
    .conteudo.projetos.galeria .projeto-sidebar .projeto-meta {
      width: 160px;
      padding: 0 20px;
      height: 213px;
      background: #fff;
      text-align: center;
      font-family: "Dosis", sans-serif;
      text-align: center; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-meta h1 {
        margin-top: 20px;
        margin-bottom: 4px;
        font-size: 18px;
        text-transform: uppercase; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-meta .data, .conteudo.projetos.galeria .projeto-sidebar .projeto-meta .projeto-descricao {
        color: #898989; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-meta .data {
        font-size: 16px; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-meta .separador {
        width: 160px;
        height: 1px;
        background: #C5C5C5;
        margin-top: 9px;
        margin-bottom: 12px; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-meta .projeto-descricao {
        font-size: 14px;
        color: #505050; }
    .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao {
      width: 200px;
      height: 30px;
      margin-top: 2px; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao a {
        color: #fff;
        text-decoration: none;
        font-family: "Dosis", sans-serif; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container, .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .grid-container {
        float: left; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container {
        width: 74px;
        height: 30px;
        margin-right: 1px; }
        .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container.next {
          margin-right: 0; }
        .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-anterior, .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-proximo {
          width: 74px;
          height: 30px;
          display: block;
          line-height: 30px;
          font-size: 12px;
          background-color: #808080;
          background-image: url(../img/projetos-prev.png);
          background-repeat: no-repeat;
          background-position: 11px center; }
          .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-anterior:hover, .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-proximo:hover {
            background-color: #3c3c3c; }
          .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-anterior span, .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-proximo span {
            display: inline-block;
            float: right;
            margin-right: 11px; }
        .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-proximo {
          background-image: url(../img/projetos-next.png);
          background-position: 57px center; }
          .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .nav-container .projeto-proximo span {
            float: left;
            margin-left: 11px;
            margin-right: 0; }
      .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .grid-container {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 1px; }
        .conteudo.projetos.galeria .projeto-sidebar .projeto-navegacao .grid-container .projeto-grid {
          display: block;
          width: 50px;
          height: 30px;
          background-color: #808080;
          background-image: url(../img/grid.png);
          background-repeat: no-repeat;
          background-position: center; }
  .conteudo.projetos.galeria .projeto-galeria {
    width: 730px;
    float: right; }
    .conteudo.projetos.galeria .projeto-galeria a {
      display: block;
      width: 242px;
      height: 242px;
      float: left;
      margin-right: 1px;
      margin-bottom: 1px; }
      .conteudo.projetos.galeria .projeto-galeria a img {
        opacity: .6; }
      .conteudo.projetos.galeria .projeto-galeria a .projeto-galeria-lupa {
        width: 78px;
        height: 78px;
        background: url(../img/galeria-lupa.png);
        opacity: 0;
        float: right;
        margin-top: -78px;
        position: relative; }
      .conteudo.projetos.galeria .projeto-galeria a:hover img {
        opacity: 1; }
      .conteudo.projetos.galeria .projeto-galeria a:hover .projeto-galeria-lupa {
        opacity: 1; }

.conteudo.midias {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0 30px 20px; }
  .conteudo.midias .midia-box {
    display: block;
    width: 176px;
    float: left;
    margin-right: 20px;
    margin-bottom: 28px;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    color: #3c3c3c; }
    .conteudo.midias .midia-box img {
      border: solid 6px #FFF; }
    .conteudo.midias .midia-box .titulo {
      display: block;
      width: 176px;
      height: 48px;
      background: #FFF;
      margin-top: 2px;
      font-size: 15px;
      text-align: center;
      line-height: 48px; }
    .conteudo.midias .midia-box .lupa {
      position: relative;
      width: 78px;
      height: 78px;
      display: block;
      background: url(../img/galeria-lupa.png);
      float: right;
      margin-top: -134px;
      margin-right: 6px;
      opacity: 0; }
    .conteudo.midias .midia-box:hover .titulo {
      background: #3c3c3c;
      color: #FFF; }
    .conteudo.midias .midia-box:hover .lupa {
      opacity: 1; }

.conteudo.dicas {
  font-family: "Dosis", sans-serif; }
  .conteudo.dicas .sidebar {
    width: 200px;
    background: #FFF;
    float: left; }
    .conteudo.dicas .sidebar ul {
      display: block;
      width: 160px;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
      .conteudo.dicas .sidebar ul li {
        list-style-type: none;
        border-bottom: solid 1px #3c3c3c; }
        .conteudo.dicas .sidebar ul li a {
          text-decoration: none;
          color: #3c3c3c;
          font-size: 18px;
          display: block;
          padding-top: 14px;
          padding-bottom: 12px; }
        .conteudo.dicas .sidebar ul li:nth-child(1) {
          padding-top: 0; }
        .conteudo.dicas .sidebar ul li:last-child {
          border-bottom: none;
          padding-bottom: 8px; }
        .conteudo.dicas .sidebar ul li.ui-state-active {
          font-weight: bold; }
  .conteudo.dicas .tabs-content {
    width: 690px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    background: #FFF; }
    .conteudo.dicas .tabs-content h1 {
      font-size: 18px; }
    .conteudo.dicas .tabs-content p {
      font-size: 18px; }

.frame-maps {
  margin-top: 30px;
  border-bottom: solid 2px #D7D7D7; }

.conteudo.contato .contato-info {
  width: 550px;
  margin: 0 auto;
  margin-top: 60px; }
  .conteudo.contato .contato-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .conteudo.contato .contato-info ul li {
      float: left;
      color: #999;
      font-size: 13px;
      height: 18px;
      margin-right: 40px; }
      .conteudo.contato .contato-info ul li a {
        display: inline-block;
        height: 18px;
        line-height: 15px;
        text-decoration: none;
        color: #999; }
      .conteudo.contato .contato-info ul li.facebook a {
        padding-left: 24px;
        background: url(../img/facebook.png) left center no-repeat; }
      .conteudo.contato .contato-info ul li.twitter a {
        padding-left: 24px;
        background: url(../img/twitter.png) left center no-repeat; }
      .conteudo.contato .contato-info ul li.telefone {
        padding-left: 20px;
        background: url(../img/icone-telefone.png) left center no-repeat; }
      .conteudo.contato .contato-info ul li.email {
        margin-right: 0;
        padding-left: 20px;
        background: url(../img/icone-email.png) left center no-repeat; }
.conteudo.contato .boxes-wrapper {
  width: 1020px; }
.conteudo.contato h2 {
  margin-top: 0; }
.conteudo.contato .contato-box {
  width: 260px;
  padding: 10px;
  float: left;
  margin-right: 60px;
  background: #FAFAFA; }
  .conteudo.contato .contato-box input[type=text] {
    width: 240px;
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: solid 1px #CACACA;
    outline: none;
    padding-left: 20px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    margin-bottom: 19px;
    color: #9E9E9E;
    background: none; }
  .conteudo.contato .contato-box label {
    margin-left: 11px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #9E9E9E;
    display: block;
    padding-left: 10px;
    margin-bottom: 1px; }
  .conteudo.contato .contato-box .linha {
    width: 260px;
    height: 1px;
    background: #CACACA; }
  .conteudo.contato .contato-box #yourBtn {
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    line-height: 21px;
    font-size: 15px;
    background: #aeaeae;
    text-shadow: 1px 1px 0 #808080;
    border: none;
    outline: none;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    float: left;
    cursor: pointer;
    margin-left: 61px; }
  .conteudo.contato .contato-box textarea {
    width: 256px;
    height: 116px;
    border: none;
    background: url(../img/linha-mensagem.png);
    background-attachment: local;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #9E9E9E; }
  .conteudo.contato .contato-box input[type="submit"] {
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    line-height: 21px;
    font-size: 15px;
    background: #aeaeae;
    text-shadow: 1px 1px 0 #808080;
    border: none;
    outline: none;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    float: right; }
  .conteudo.contato .contato-box .mensagem_contato, .conteudo.contato .contato-box .telefone_trabalhe, .conteudo.contato .contato-box .email_cadastro {
    margin-bottom: 14px !important; }
  .conteudo.contato .contato-box .mensagem_contato {
    line-height: 40px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #9E9E9E; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #9E9E9E; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    min-width: 1024px; }

  .grupo, .footer {
    width: 1099px; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* Remove unwanted elements */
  #header, #nav, .noprint {
    display: none; }

  /* Ensure the content spans the full width */
  #container, #container2, #content {
    width: 100%;
    margin: 0;
    float: none; }

  /* Change text colour to black (useful for light text on a dark background) */
  .lighttext {
    color: black; }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351; } }
