/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

#message{
    width:200px;
}

/*****Cores*****/
$marrom: #3C3C3C;
$cedar: #4D4D4D;
$whitesmoke: #F0F0F0;
$jade: #286F67;
$dimgray: #828282;
$bombay: #AEAEAE;

@font-face {
    font-family: 'fjalla_oneregular';
    src: url('../fonts/fjallaone-regular-webfont.eot');
    src: url('../fonts/fjallaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fjallaone-regular-webfont.woff') format('woff'),
         url('../fonts/fjallaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/fjallaone-regular-webfont.svg#fjalla_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
$fjalla: 'fjalla_oneregular', sans-serif;

$trebuchet: 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;

$dosis: 'Dosis', sans-serif;

body {
    font-size: 1em;
    font-family: $trebuchet;
    background-color:$whitesmoke;
    min-width:1140px;
    p{
        font-size:13px;
        margin-bottom:1.2em;
        color:#4d4d4d;
    }
    h1, .clearfix{
        line-height: 1em; 
    }

}
.conteudo{
    min-height:560px;
    padding-top:60px !important;
}

.bx-next, .bx-prev{
    display:block;
    width:54px;
    height:45px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -57px;
}
footer, .push {
    height:56px;
}

.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.interna{
    width: 960px;
    margin:0 auto;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.projetos{
    .projeto-box{
        display:block;
    }
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/

.realupload{
    width: 128px;
    height: 20px;
    float: left;
    position: absolute;
    margin-left: 61px;
    opacity: 0;    
}

.conteudo.busca{
    .produto-busca-wrapper{
        &.assentos{
            height:350px;
        }
        width:290px;
        float:left;
        margin:0 23px;
        text-decoration:none; color:#333;
        height:230px;
        margin-bottom:20px;
        .produto-busca-titulo{
            font-size:16px;
        }
        .produto-busca-resumo{
            font-size:12px; 
        }
    }
    h1, p{
        margin-left:23px; 
    }
}
body > header, .wrapper > header{
    width:100%;
    height:98px;
    background-color:#FFF;
    .logo-wrapper{
        width: 2400px;
        height: 99px;
        position: absolute;
        right: 50%;
        background:#4d4d4d;
        .quadrado{
            display:block;
            width:306px;
            height:100px;
            background:#4d4d4d;
        }
    }
    .sociais-busca{
        float:right;
        margin-right:80px;
        ul{
            margin:0;
            padding:0;
            list-style-type: none;
            li{
                float:left;
                margin-right:10px;
                a.twitter, a.facebook{
                    display:block;
                    width:20px;
                    height: 20px;
                    background:url(../img/icone-twitter.png);
                }
                a.facebook{
                    background:url(../img/icone-facebook.png);
                }
            }
        }
        input{
            height:20px;
        }
        input[type=text]{
            width:130px;
            border:none;
            float:left;
            background-color:#e3e3e3;
            padding:0;
            padding-right:20px;
            font-size:13px;
            line-height:20px;
            color:#999;
        }
        input[type=submit]{
            width: 20px;
            height: 20px;
            background:url(../img/icone-lupa.png);
            border:none;
            padding:0;
            float:left;
            margin-left:-20px;
        }
    }
    .interna{width:1140px; position:relative; background-color:#FFF;}
    .marca{
        width: 196px;
        height: 99px;
        background-color:#4d4d4d;
        background-image:url(../img/marca.png);
        background-position:0 center;
        background-repeat:no-repeat;
        position:relative;
    }
    .ponta{
        width: 65px;
        height: 99px;
        float:left;
        background:url(../img/ponta.png);
    }
    nav{
        float:right;
        ul{
            margin:0;
            padding:0;
            li{
                float:left;
                margin-left:33px;
                a{  
                    display:block;
                    height:12px;
                    padding-top:15px;
                    margin-top:41px;
                    color:$dimgray;
                    font-family: $fjalla;
                    font-size:13px;
                    text-transform:uppercase;
                    text-decoration:none;
                    &:hover, &.active{
                        color:#ABABAB;
                        background-image:url(../img/quadrado-claro.png);
                        background-position:center 0;
                        background-repeat:no-repeat;
                    }
                }
            }
        }
    }
    .social{
        margin:20px 0 0;
        padding:0;
        li{
            list-style-type: none;
            a{
                display:block;
                width: 24px;
                height: 24px;
                background:url(../img/facebook.png);
                margin-bottom:2px;
                &.twitter{
                    background:url(../img/twitter.png);
                }
            }
        }
    }
}
.header-shadow{
    width:100%;
    height:9px;
    background:url(../img/header-shadow.png) repeat-x;
}

/*Footer*/
footer{
    width:100%;
    height:56px;
    text-align:center;
    font-family:$trebuchet;
    color:#999;
    font-size:12px;
    line-height:56px;
    border-top:solid 1px #CACACA;
    background:whitesmoke;
    .interna{
        width:1126px;
        height:56px;
    }
    .contato-rodape{
        height:28px;
        margin-top:14px;
        line-height:28px;
        float:left;
        a{
            text-decoration:none;
            color:#999;
        }
        .telefone-email{
            float:left;
            margin-right:26px;
        }
        .icone-telefone-rodape, .icone-email-rodape{
            display:block;
            margin-top:9px;
            margin-right:5px;
        }
        .icone-telefone-rodape{
            display:inline-block;
            width: 15px;
            height: 11px;
            float:left;
            background:url(../img/icone-telefone.png);
        }
        .icone-email-rodape{
            display:inline-block;
            width: 16px;
            height: 11px;
            float:left;
            background: url(../img/icone-email.png)
        }
        .telefone-rodape{
            font-size:15px;
            .ddd{font-size:12px;}
        }
        .email-rodape{
            margin-left:20px;
            .email{
                display:inline-block;
                margin-top:1px;
            }
        }
        .endereco{
            width: 437px;
            float:left;
            border-right:solid 1px #CACACA;
            border-left:solid 1px #CACACA;
        }
    }
    .telefone-rodape, .email-rodape{
        float:left;
    }
    img{
        margin-left:4px;
        margin-top:-6px;
    }
    .trupe{
        height:51px;
        float:left;
        margin-left:26px;
        font-size:9px;
        text-transform:uppercase;
        text-decoration:none;
        color:#999;
        &.hover{
            color:#CCC;
        }
    }
    .rodape-wrapper{
        display:inline-block;
        width:980px;
        margin:0 auto;
    }
}

/*Conteudo*/
.conteudo{
    .inner{
        width:960px;
        margin:0 auto;
    }
    width:1013px;
    padding:0 64px;
    margin:0 auto;
    background:url(../img/sombras-laterais.png) repeat-y;
    margin-top:-8px;
    h1, h2{
        font-family: $trebuchet;
        font-weight:normal;
        font-size:24px;
        text-transform:uppercase;
        color:$jade;
    }
    h2{
        font-size:20px;
    }
}

/*Empresa*/
.conteudo.empresa{
    .texto{
        width:540px;
        float:left;
    }
    .missao-visao{
        margin-top:50px;
    }
    .missao, .visao{
        width:255px;
        float:left;
    }
    .visao{
        float:right;
    }
    .img-wrapper{
        float:left;
        margin-left:50px;
        margin-top:60px;
    }
}

/*Cases*/
.conteudo.cases{
    .bx-wrapper{
        max-width:99% !important;
    }
    .inner{
        width:960px;
        margin:0 auto;
    }
    .cases-description{
        width:967px;
        margin: 0 auto;
    }
    .cases-content{
        .case-wrapper{
            display:block;
            float:left;
            text-decoration:none;
            margin:0 23px;
            margin-bottom:25px;
            .case-titulo{
                color:#333;
                font-size:12px;
                text-transform:uppercase;
                background-image: url(../img/quadrado-escuro.png);
                background-position: left 4px;
                background-repeat:no-repeat;
                padding-left:8px;
            }
        }
    }
    .conteudo-case{
        .sidebar{
            h1{
                margin-top:60px;
            }
            width:110px;
            float:left;
            ul{
                margin:0;
                padding:0;
                li{
                    margin-bottom:15px;
                    a{
                        text-decoration:none;
                        text-transform:uppercase;
                        color:$cedar;
                        font-size:11px;
                        padding-right:24px;
                        display:inline-block;
                        &.active{
                            padding-left:14px;
                            padding-right:10px;
                            background-image: url(../img/quadrado-escuro.png);
                            background-position:left center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        .case-wrapper{
            width:770px;
            float:right;
            margin-top: 80px;
        }
        .case-image-wrapper{
            text-align:center; 
        }
        .case-thumbs{
            width:792px;
            margin-top:15px;
             a{
                float:left;
                margin-right:22px;
                margin-bottom:22px;
            }
            ul{
                margin:0;
                padding:0;
                list-style-type: none;
                li{
                    float:left;
                    margin-right:22px;
                }
            }
        }
        .case-description{
            padding-bottom:80px;
        }
        .voltar-wrapper{
            text-align:center;
            height:20px;
            padding-bottom:80px;
        }
        .case-voltar{
            display:inline-block;
            height:20px;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:18px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
        }
    }
}

/*Arquitetos*/
.conteudo.arquitetos{
    .statocad{
        width:450px;
        float:left;
        .statocad-conheca{
            margin-bottom: 40px;
        }
        .statocad-image-wrapper{
            text-align:center;
            margin-bottom:30px;
        }
        .statocad-suporte{
            h3{
                font-size:12px;
                font-weight:normal;
                text-transform: uppercase;
            }
        }
    }
    .form{
        h2{
            padding-left:10px;
        }
        float:right;
        width: 440px;
        background:#FFF;
        padding-bottom:10px;
        margin-bottom:80px;
        input[type="text"], .legend{
            margin:0 auto;
            display:block;
            border:none;
            border-bottom:solid 1px #CACACA;
            outline:none;
            padding-left:20px;
            font-family:$trebuchet;
            font-size:12px;
            margin-bottom:20px;
            color:#9E9E9E;
            &.input4{
                width:400px;
            }
            &.input3{
                width:280px;
                margin:0;
                float:left;
                margin-left:11px;
            }
            &.input1{
                width:95px;
                padding-left:5px;
                float:right;
                margin-right:11px;
            }
        }
        label{
            margin-left:11px;
            font-family:$trebuchet;
            font-size:12px;
            color: #9E9E9E;
            display: block;
            padding-left: 34px;
            text-indent: -15px;
            margin-bottom: 4px;
        }
        input[type="checkbox"]{
            width: 13px;
            height: 13px;
            padding: 0;
            margin:0;
            vertical-align: middle;
            position: relative;
            top: -1px;
            *overflow: hidden;
        }
        textarea{
            width:414px;
            height:70px;
            margin-left:11px;
            border:none;
            height:80px;
            background:url(../img/linha-mensagem.png);
            background-attachment: local;
            margin-top:-20px;
            font-family:$trebuchet;
            font-size:12px;
            color: #9E9E9E;
            line-height:40px;
        }
        .linha{
            width:420px;
            height:1px;
            background:#CACACA;
            margin-left:11px;
            &.primeira{
                margin-top:-46px;
            }
            &.segunda{
                margin-top:38px;
            }
        }
        
        input[type="submit"]{
            display:inline-block;
            height:20px;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:18px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
            border:none;
            outline:none;
            font-family:$trebuchet;
            float:right;
            margin-right:11px;
            margin-top:14px;
        }
    }
}

/*Artigos*/

.conteudo.artigos{
    img{
        width:220px;
        height:140px;
        float:left;
        margin-right:40px;
    }
    .novidades{
        border-top:solid 1px #9E9E9E; 
        h1{margin-top:0; font-size:20px;}
        a{text-decoration:none; color:$cedar;}
    }
    .novidade{
        padding-top:40px;
        padding-bottom:40px;
        border-bottom:solid 1px #9E9E9E;
    }
    .noticias-mais{float:right; font-size:12px;}
    &.post{
        .novidades, .novidade{
            border:none;
        }
        .voltar-wrapper{
            text-align:center;
            height:20px;
            padding-bottom:80px;
        }
        .noticias-voltar{
            display:inline-block;
            height:20px;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:18px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
        }
        img{
            width: auto;
            height: auto;
            float: none;
        }
    }
}

.conteudo.newsletters{
    .icones{
        width:1005px;
    }
    .newsletter-wrapper{
        display:block;
        width:290px;
        height:220px;
        float:left;
        text-decoration:none;
        margin-right:45px;
        margin-bottom:80px;
        .newsletter-data-wrapper{
            position:relative;
            float:right;
            width: 92px;
            height: 70px;
            margin-top:-220px;
            background: rgba(51, 51, 51, 0.91);
            display: block;
            text-align:center;
            color:#fff;
            font-size:22px;
            padding-top:15px;
        }
    }
}

.conteudo.showroom{
    .icone-telefone, .icone-email, .icone-relogio{
        display:inline-block;
        margin-right:4px;
    }
    .icone-telefone{
        width: 12px;
        height: 9px;
        background:url(../img/showroom-telefone.png);
    }
    .icone-email{
        width: 12px;
        height: 9px;
        background:url(../img/showroom-email.png);
    }
    .icone-relogio{
        width: 12px;
        height: 12px;
        background:url(../img/showroom-horario.png);
    }
    .texto{
        width:500px;
        float:left;
        margin-top:86px;
    }
    .mapa{float:right;}
    .horario{
        margin-top:30px;
    }
}

.hide{display:none;}
.pp_close{display:none !important;}

.pagination-wrapper{
    text-align:center;
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
        display:inline-block;
        margin-bottom:60px;
        margin-top:15px;
        li{ 
            width:15px; 
            height:14px; 
            border:solid 1px $dimgray; 
            float:left; 
            text-align:center;
            margin-right:13px;
            font-size:12px;
            line-height:16px;
            text-transform:uppercase;
            &.active{
                a{
                    background:$dimgray;
                    color:#fff !important;
                }
            }
            a{
                display:block;
                width:15px;
                height:14px;
                text-decoration:none;
                color:#333;
                &.active{
                    background:$dimgray;
                    color:#fff !important;
                }
            }
        }
        li.next, li.prev{width:53px; border:none;}
    }
}

.conteudo.produtos{
    .sidebar{
            width:110px;
            float:left;
            ul{
                margin:0;
                padding:0;
                li{
                    margin-bottom:15px;
                    a{
                        text-decoration:none;
                        text-transform:uppercase;
                        color:$cedar;
                        font-size:11px;
                        padding-right:24px;
                        display:inline-block;
                        &.active{
                            padding-left:14px;
                            padding-right:10px;
                            background-image: url(../img/quadrado-escuro.png);
                            background-position:left center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }

    #tabs{
        width:770px;
        float:right;
        margin-top:65px;
        a{text-decoration:none;}
        .ui-tabs-anchor{
            padding-left:20px;
            padding-right:30px;
            height:35px;
            line-height:35px;
            display:inline-block;
            text-decoration:none; 
            color:$jade; 
            text-decoration:none;
            outline:none;
            font-size:13px;
        }
        .ui-state-active .ui-tabs-anchor{
            border:solid 1px #e2e2e2;
            border-bottom:none;
            background-color:$whitesmoke;
        }
    }
    #tabs > ul{
        height:23px;
        margin:0;
        padding:0;
        list-style-type:none;
        li{
            float:left;
            color:$jade;
            font-size:14px;
            height: 35px;
            border-bottom: solid 1px #e2e2e2;
            margin-bottom:10px;
        }
    }
    .produtos-wrapper{
        margin-top:40px;
        width:824px;
        .produto-lista-wrapper{
            width:362px;
            height:230px;
            margin-bottom:15px;
            float:left;
            margin-right:50px;
            h2{
                color:#333;
                font-size:12px;
                text-transform:uppercase;
                background-image: url(../img/quadrado-escuro.png);
                background-position: left 4px;
                background-repeat:no-repeat;
                padding-left:8px;
                margin-bottom:0;
            }
            &.assentos {
            width: 230px;
            height: 362px;
            margin-right: 40px;
            } 
            p{font-size:11px; margin-top:0;}
        }
    }
        .produto-wrapper{
            width:770px;
            float:right;
            margin-top: 80px;
        }
        .produto-image-wrapper{
            text-align:center;
            margin-top:30px;
        }
        .produto-thumbs{
            width:792px;
            margin-top:15px;
            a{
                float:left;
                margin-right:22px;
                margin-bottom:22px;
            }
        }
        .produto-description{
            padding-bottom:80px;
        }
        .voltar-wrapper{
            text-align:center;
            height:20px;
            padding-bottom:80px;
        }
        .produto-voltar{
            display:inline-block;
            height:20px;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:18px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
        }
}


.in-slide-content{
    position:absolute;
    bottom:94px;
    right:197px;
    display:inline-block;
    height:60px;
    background: rgba(60, 60, 60, 0.9);
    font-family:$dosis;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    z-index:90000;
    a{
        z-index:90000;
        text-decoration:none;
        color:#fff;
        position:relative;
    }
}
.slide_nav, header, footer{
    z-index:11;
}
header, footer{
    position:relative
}
.bxslider{
    padding:0;
    margin:0;
    li{text-align:right;}
}
.slide_nav{
    width:115px;
    position:absolute;
    right:194px;
    bottom:156px;
}
.slide-content{
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background: rgba(60, 60, 60, 0.9);
    font-family:$dosis;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
}
.control{
    position:absolute;
    top:50%;
    width:23px;
    height:40px;
    background-image:url(../img/home-prev.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
    float:left;
    margin-left:2px;
}

.bx-wrapper{

}
.control#slide_left{
    left:104px;
}
.control#slide_right{
    background-image:url(../img/home-next.png);
    right:104px;
}
.conteudo.pagina{
    .pagina-imagem{
        float:left;
        width:430px;
        height:470px;
    }
    .pagina-texto{
        &.has-image{
            width:500px;
            float:right;
        }
        text-align: left;
        p{
            margin-top:0;
            font-family:$dosis;
            font-size:18px;
        }
    }
}
.conteudo.projetos{
    width:976px;
    .projeto-box{
        text-align:center;
        width: 188px;
        height: 328px;
        display:block;
        float:left;
        margin: 0 3px 6px 3px;
        font-family:$dosis;
        font-size:16px;
        text-decoration:none;
        img{opacity:.6;}
        .lupa{opacity:0;}
        .titulo{
            position:relative;
            display:block;
            width:188px;
            height:33px;
            line-height:33px;
            text-transform:uppercase;
            margin-top:-33px;
            color:#fff;
            background:rgba(60, 60, 60, .9);
        }
        &:hover{
            img{opacity:1;}
            .lupa{opacity:1;}
        }
        .lupa{
            width: 60px;
            height: 60px;
            display: block;
            background: url(http://concept.dev/assets/css/../img/projetos_hover.png);
            position: relative;
            margin-top: -326px;
            margin-left: 126px;
        }
    }
}
.conteudo.pagina.atuacao{
    h2{
        font-size:18px;
        font-family:$dosis;
        color:$marrom;
    }
    #accordion{
        .header{
            width: 500px;
            height: 40px;
            display: block;
            background-color: #fff;
            font-family: $dosis;
            text-decoration: none;
            color: #3C3C3C;
            line-height: 40px;
            margin-top:10px;
            h1{
                font-size: 18px;
                font-weight: normal;
                margin: 0;
                line-height: 40px;
                float:left;
            }
            .item-icone{
                width:13px;
                height: 13px;
                background:url(../img/atuacao_mais.png);
                float:left;
                margin:13px;
            }
            &.ui-state-active{
                background-color:$marrom;
                h1{
                    font-weight:bold;
                    color:#fff;
                }
                .item-icone{
                    background-image: url(../img/atuacao_menos.png);
                }
            }
        }
        .servicos-texto{
            padding-top:10px;
            padding-bottom:10px;
            background:#FFF;
            p{font-family:$dosis;}
            ul{
                margin:0;
                padding:0;
                margin-left:16px;
                list-style-type:none;
                li{
                    background: url(../img/atuacao_seta.png) no-repeat center left;
                    padding-left:21px;
                    font-family:$dosis;
                    margin-bottom:8px;
                }
            }
        }
    }
}
.conteudo.projetos.galeria{
    width:960px;
    .projeto-sidebar{
        width: 200px;
        height: 245px;
        float:left;
        .projeto-meta{
            width:160px;
            padding: 0 20px;
            height: 213px;
            background:#fff;
            text-align:center;
            font-family:$dosis;
            text-align:center;
            h1{
                margin-top:20px;
                margin-bottom:4px;
                font-size:18px;
                text-transform:uppercase;
            }
            .data, .projeto-descricao{color:#898989;}
            .data{font-size:16px;}
            .separador{
                width:160px; 
                height:1px; 
                background:#C5C5C5;
                margin-top:9px;
                margin-bottom:12px;
            }
            .projeto-descricao{
                font-size:14px;
                color:#505050;
            }
        }
        .projeto-navegacao{
            width:200px;
            height:30px;
            margin-top:2px;
            a{color:#fff; text-decoration:none; font-family: $dosis;}
            .nav-container, .grid-container{
                float:left;
            }
            .nav-container{
                width: 74px;
                height: 30px;
                margin-right:1px;
                &.next{margin-right:0;}
                .projeto-anterior, .projeto-proximo{
                    width:74px;
                    height:30px;
                    display:block;
                    line-height:30px;
                    font-size:12px;
                    background-color:#808080;
                    background-image:url(../img/projetos-prev.png);
                    background-repeat: no-repeat;
                    background-position:11px center;
                    &:hover{background-color:$marrom;}
                    span{display:inline-block; float:right; margin-right:11px;}
                }
                .projeto-proximo{
                    background-image: url(../img/projetos-next.png);
                    background-position:57px center;
                    span{float:left; margin-left:11px; margin-right:0;}
                }
            }
            .grid-container{
                width:50px;
                height:50px;
                float:left;
                margin-right:1px;
                .projeto-grid{
                    display:block;
                    width:50px;
                    height:30px;
                    background-color:#808080;
                    background-image:url(../img/grid.png);
                    background-repeat:no-repeat;
                    background-position:center;
                }
            }
        }
    }
    .projeto-galeria{
        width: 730px;
        float:right;
        a{
            display:block;
            width: 242px;
            height: 242px;
            float:left;
            margin-right:1px;
            margin-bottom:1px;
            img{opacity:.6;}
            .projeto-galeria-lupa{
                width: 78px;
                height: 78px;
                background:url(../img/galeria-lupa.png);
                opacity:0;
                float:right;
                margin-top:-78px;
                position:relative;
            }
            &:hover{
                img{opacity:1;}
                .projeto-galeria-lupa{opacity:1;}
            }
        }
    }
}

.conteudo.midias{
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 30px 20px;
    .midia-box{
        display:block;
        width:176px;
        float:left;
        margin-right:20px;
        margin-bottom:28px;
        text-decoration:none;
        font-family:$dosis;
        color:$marrom;
        img{
            border:solid 6px #FFF;
        }
        .titulo{
            display:block;
            width:176px;
            height:48px;
            background:#FFF;
            margin-top:2px;
            font-size:15px;
            text-align:center;
            line-height:48px;
        }
        .lupa{
            position:relative;
            width: 78px;
            height: 78px;
            display: block;
            background:url(../img/galeria-lupa.png);
            float: right;
            margin-top: -134px;
            margin-right: 6px;
            opacity: 0;
        }
        &:hover{
            .titulo{background:$marrom; color:#FFF;}
            .lupa{opacity:1;}
        }
    }
}

.conteudo.dicas{
    font-family:$dosis;
    .sidebar{
        width:200px;
        background:#FFF;
        float:left;
        ul{
            display:block;
            width:160px;
            margin:0 auto;
            padding:0;
            text-align:center;
            li{
                list-style-type:none;
                border-bottom:solid 1px $marrom ;
                a{
                    text-decoration:none;
                    color:$marrom;
                    font-size:18px;
                    display:block;
                    padding-top:14px;
                    padding-bottom:12px;
                }
                &:nth-child(1){padding-top:0;}
                &:last-child{border-bottom:none; padding-bottom:8px;}
                &.ui-state-active{font-weight:bold;}
            }
        }
    }
    .tabs-content{
        width:690px;
        padding-left:20px;
        padding-right:20px;
        float:right;
        background:#FFF;
        h1{font-size:18px;}
        p{font-size:18px;}
    }
}
.frame-maps{
    margin-top:30px;
    border-bottom: solid 2px #D7D7D7;
}
.conteudo.contato{
    .contato-info{
        width:550px;
        margin:0 auto;
        margin-top:60px;
        ul{
            margin:0;
            padding:0;
            list-style-type: none;
            li{
                float:left;
                color:#999;
                font-size:13px;
                height:18px;
                margin-right:40px;
                a{
                    display:inline-block;
                    height:18px;
                    line-height:15px;
                    text-decoration:none;
                    color:#999;
                }
                &.facebook a{
                    padding-left:24px;
                    background:url(../img/facebook.png) left center no-repeat;
                }
                &.twitter a{
                    padding-left:24px;
                    background: url(../img/twitter.png) left center no-repeat;
                }
                &.telefone {
                    padding-left:20px;
                    background:url(../img/icone-telefone.png) left center no-repeat;
                }
                &.email{
                    margin-right:0;
                    padding-left:20px;
                    background: url(../img/icone-email.png) left center no-repeat;
                }
            }
        }
    }
    .boxes-wrapper{
        width:1020px;
    }
    h2{
        margin-top:0;
    }
    .contato-box{
        width:260px;
        padding:10px;
        float:left;
        margin-right:60px;
        background:#FAFAFA;
        input[type=text]{
            width:240px;
            margin:0 auto;
            display:block;
            border:none;
            border-bottom:solid 1px #CACACA;
            outline:none;
            padding-left:20px;
            font-family:$trebuchet;
            font-size:12px;
            margin-bottom:19px;
            color:#9E9E9E;
            background:none;
        }
        label{
            margin-left:11px;
            font-family:$trebuchet;
            font-size:12px;
            color: #9E9E9E;
            display: block;
            padding-left: 10px;
            margin-bottom: 1px;
        }
        .linha{
            width:260px;
            height:1px;
            background:#CACACA;
        }
        #yourBtn{
            display:inline-block;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:21px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
            border:none;
            outline:none;
            font-family:$trebuchet;
            float:left;
            cursor:pointer;
            margin-left:61px;
        }

        textarea{
            width:256px;
            height:116px;
            border:none;
            background:url(../img/linha-mensagem.png);
            background-attachment: local;
            font-family:$trebuchet;
            font-size:12px;
            color: #9E9E9E;
        }

        input[type="submit"]{
            display:inline-block;
            padding: 0 10px;
            margin:0 auto;
            color:#fff;
            text-decoration:none;
            line-height:21px;
            font-size:15px;
            background:$bombay;
            text-shadow: 1px 1px 0 #808080;
            border:none;
            outline:none;
            font-family:$trebuchet;
            float:right;
        }
        .mensagem_contato, .telefone_trabalhe, .email_cadastro{
            margin-bottom:14px !important;
        }
        .mensagem_contato{
            line-height:40px;
        }
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: #9E9E9E;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: #9E9E9E;
}
input:-moz-placeholder{
}
    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1024px;}
    .grupo, .footer{
        width:1099px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000 
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}


}
