/*
Theme Name: Twenty Eleven
Theme URI: http://wordpress.org/extend/themes/twentyeleven
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 1.3
License: GNU General Public License
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@font-face {
    font-family: 'Swiss';
    src: url('fontes/swiss.eot');
    src: url('fontes/swiss.eot?#iefix') format('embedded-opentype'),
         url('fontes/swiss.woff') format('woff'),
         url('fontes/swiss.ttf') format('truetype'),
         url('fontes/swiss.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
	
	display: block;
	
	min-width: 990px;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* =Structure
----------------------------------------------- */

body {

}
#page {
	
}
#topo {
	height: 164px;
	width: 100%;
	
	background: url('images/bg_topo.png') repeat-x top left;
}
#topo-chamada {
	width: 970px;
	height: 114px;
	
	margin: 0 auto;
}
#topo-logo {
	margin-top: 28px;
	float: left;
}
#topo-logo img { width: 250px; }

#topo-aliancas {
    border-right: 1px dotted #17879F;
    float: left;
    margin-left: 220px;
    margin-top: 13px;
}
#topo-aliancas p {
    color: white;
    font-size: 11px;
    margin-bottom: 7px;
}
#topo-aliancas a {
    margin-right: 15px;
}
#topo-aliancas img {
    width: 150px;
}

#topo-info {
	float: right;
	
	margin-top: 20px;
	margin-left: 14px;
}

#topo-info-telefone {
	float: left;
}
	#topo-info-telefone p {
		margin: 0;
		
		color: white;
		
		font-size: 18px;
		background-image: url('images/header-telefone.png');
		background-repeat: no-repeat;
		height: 0;
		padding-top: 22px;
		overflow: hidden;
		width: 115px;
	}
	#topo-info-telefone span {
		font-size: 11px !important;
	}
#topo-info-midias {
	clear: none !important;
	float: left;
	
	/*margin-top: 5px;*/
	/* margin-left: 20px; */
	
	margin-left: 43px;
}

#topo-info-busca {
	margin-top: 10px;
	float: left;
	clear: both;
}

	#topo-info-busca input#s, #busca-blog input#s {
		background: url('images/bg_busca.png') no-repeat top left;
		border: none !important;
		-moz-border-radius: 0 !important;
		border-radius: 0 !important;
		font-size: 12px !important;
		width: 227px;
		height: 31px;
		line-height: 18px;
		padding: 0 25px !important;
		
		float: left;
		
		margin-top: 1px;
	}
	#topo-info-busca input#searchsubmit, #busca-blog input#searchsubmit {
		display: block !important;
		
		width: 34px;
		height: 33px;
		
		background: url('images/btn_ok.png') no-repeat top left;
		
		border: none !important;
		float: left;
		
		text-indent: -9999px !important;
		
		cursor: pointer;
	}
		#topo-info-busca input#searchsubmit:hover {
			background-position: bottom left;
		}
		
		
/* HOME */


div#banner-vitrine div { /*border: 1px solid #abc;*/ }

#banner-vitrine {
	margin: 20px 0 0 0;
	padding: 0;
	
	position: relative;
	
	left: 0;
	
	
    width: 970px;
	height: 302px;
}
#banner-vitrine-clip {
    float: left;
    width: 710px;
}
#banner-vitrine-controles {
    /* margin-top: 140px; */
	top: 265px;
    position: absolute;
    width: 710px;

	/* left: 10px; */
	left: 23px;
}
	#banner-vitrine-controles li {
		list-style: none;
		
		width: 15px;
		height: 15px;
		
		background: url('images/banner_bolinha.png') no-repeat left top;
		
		display: block;
		
		text-indent: -9999px;
		
		cursor: pointer;
		
		margin-right: 4px;
		
		float: left;
	}
	#banner-vitrine-controle li:hover {
		background-position: left bottom;
	}
	
	.banner_ativado {
		background-position: left bottom !important;
	}

.banner-vitrine-controle {
    height: 28px;
    line-height: 40px;
    text-align: center;
    width: 22px;
}
#banner-vitrine-controle-esq {
    float: left;
}
#banner-vitrine-controle-dir {
    float: right;
}
#banner-vitrine-thumbs {
    float: right;
}

#banner-vitrine-thumbs {
    background: url('images/bg_banners.png');

	border: 1px solid #cdcdcd;

    height: 300px;
    width: 222px;
}
#banner-vitrine-thumbs-interno {
    margin-left: 15px;

	background-color: #f0f0f0;
	
	height: 280px;
    width: 187px;

	padding: 10px;
}
#banner-vitrine-thumbs-interno h2 {
    color: #165C68;
    font-family: "Swiss", Arial, Tahoma, sans-serif;        
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
}
.banner-vitrine-thumb {
    margin: 2px 0;
}
#banner-vitrine-thumbs-interno a img {
    margin-bottom: 5px
}


#home-colunas-box {
width: 970px;
height: 290px;
}
.home-duas-colunas {
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    width: 475px;

	font-family: Arial, Tahoma, sans-serif;
}
.home-duas-colunas-ultima {
    margin-right: 0;
}
.home-duas-colunas-caixa {
    background-color: #eee;
    background-image: url('images/home-bg-pontilhado.png');
    background-repeat: repeat-y;
    font-size: 12px;
    height: 210px;
}
.home-duas-colunas-caixa-interno {
    background-color: #eee;
    background-image: url('images/home-bg-caixa.png');
    background-repeat: repeat-x;
    margin: 0 0 0 15px;
    padding: 15px;
    height: 180px;
}
div.home-duas-colunas-caixa ul {
    list-style-type: none;
}

#home-header-educacao-executiva, #home-header-educacao-corporativa {
    background-repeat: no-repeat;
    height: 40px;
    margin-bottom: 10px;
    text-indent: -9999px;

}
#home-header-educacao-executiva {
    background-image: url('images/home-header-educacao-executiva.png');
}
#home-header-educacao-corporativa {
    background-image: url('images/home-header-educacao-corporativa.png');
}
div.home-separador {
    background-image: url('images/barra.png');
    background-repeat: repeat-x;
    clear: both;
    margin: 20px 0;
    height: 5px;
    line-height: 5px;
}
.clear { clear: both; }

#home-header-blog, #home-header-slideshare, #home-header-ipltv, #home-header-folder {
    background-repeat: no-repeat;
    height: 45px;
    text-indent: -9999px;
}
#home-header-folder {
	background-image: url('images/home-header-folder.png');
}
#home-header-blog {
    background-image: url('images/home-header-blog.png');
}
#home-header-slideshare {
    background-image: url('images/home-header-slideshare.png');
}
#home-header-ipltv {
    background-image: url('images/home-header-ipltv.png');
}
.home-coluna-folder p {
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	color: #5F5F5F;
	margin: 0;
}
.home-coluna-folder a {
	margin-top: 10px;
	font-size: 11px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color: white;
}
.home-coluna-folder img {
	margin-right: 15px;
	float: left;
	
	margin-bottom: 15px;
}
.home-coluna-folder {
	height: auto !important;
}
#formulario-folder {
	clear: both;
}
#formulario-folder label {
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	color: #5F5F5F;
	margin: 0;
}


div.home-tres-colunas {
    border-right: 1px dotted #eee;
    float: left;
    height: 300px;
    margin-right: 15px;
    margin-bottom: 25px;
    width: 310px;
}
div.home-tres-colunas-caixa {
    margin-top: 20px;
    margin-bottom: 20px;
}
div.home-tres-colunas-caixa-interno {
    margin-right: 15px;
}
div.home-tres-colunas-caixa-interno-ultima {
    margin-right: 0;
}
div.home-tres-colunas-ultima {
    border-right: 0;
    margin-right: 0;
}
.youtubeFeederlist .youtubeTitle, #home-slideshare-interno {
    color: #666;
    font-size: 11px !important;
    font-weight: normal !important;
    text-align: center;
}

/* BANNERS */
#banner-vitrine-clip {
	position: relative;
	
	background: url('images/bg_banners.png');
	
	border: 1px solid #cecece;
	
	width: 730px;
	height: 300px;
}
.banner {
	position: absolute;
	top: 10px;
	left: 10px;
	
	width: 710px;
	height: 280px;
}

.banner-vitrine-thumb img {
	position: relative;
}

#banner-vitrine-controle-esq, #banner-vitrine-controle-dir {
	cursor: pointer;
}


.lof-slidecontent {
	position: absolute;
	top: 10px;
	left: 10px;

	width: 710px;
	height: 280px;
}

/* HOME (fim) */	

		
		
/* BLOG */
#blog-bg {
	position: relative;
}
#blog-bg-conteudo {
	background: url('images/bg_conteudo_topo.png') repeat-x top center;
	
	width: 100%;
	height: 65px;
	
	position: absolute;
}

.page-header-blog {
	position: relative;
	
	border: 1px solid #dbdbdb !important;
	
	padding: 20px;
	margin-bottom:20px;
	margin-top: 15px;
	
	box-shadow: 3px 3px 0 #e0e0e0;
	
	background-color: #fff;
}
	.page-header-blog .page-title {
		color: #0F4D5A;
		padding: 0;
		margin: 0;
		font-family: 'Swiss', Arial, Tahoma, sans-serif;

		font-size: 22px;
	}
		
#topo-blog {
	width: 100%;
	height: 89px;
	
	background: url('images/bg_topo_blog.png') repeat-x top left;
}
#topo-blog-conteudo {
	width: 970px;
	
	margin: 0 auto;
}
#titulo-blog {
	float: left;
	
	margin-left: 10px;
}
	#titulo-blog h2 {
		font-size: 40px;
		color: #17879f;
		
		font-family: 'Swiss', Arial, Tahoma, sans-serif;
		
		font-weight: bold;
		
		margin-top: 15px;
	}
#busca-blog {
	float: right;
	margin-top: 35px;
}
#busca-blog p {
	float: left;
	
	margin-top: 4px;
	margin-right: 15px;
	
	color: #235c63;
	font-family: 'Swiss', Arial, Tahoma, sans-serif;
	
	font-size: 18px;
}
#busca-blog #searchform {
	float: left;
}


.post {
	border: 1px solid #dbdbdb !important;
	
	padding: 20px;
	margin-bottom:20px;
	margin-top: 15px;
	
	box-shadow: 3px 3px 0 #e0e0e0;
	
	background-color: #fff;
}
	.post .entry_imagem {
		text-align: center;
		margin-top: 5px;
	}
		.post .entry_imagem img {
			border-top: 15px solid #4EC8C7;
			
			padding-bottom: 5px;
			background: url('images/bg_imagem_blog.png') repeat-x left bottom;
			
			max-width: 654px;
		}
	.post .entry-header {
		padding-bottom: 5px;
		border-bottom: 1px dotted #878989;
	}
	.post .cat-links {
		display: block;
		
		margin-left: 72px;
	}
	.post .entry-title {
		display: inline-block;
		
		padding: 0 !important;
		
		margin-left: 10px !important;
		
		line-height: 28px !important;
		font-size: 24px !important;
		
		font-family: 'Swiss', Arial, Tahoma, sans-serif;
		
		font-weight: normal;
		
		text-transform: uppercase;
		
		width: 490px;
	}
		.post .entry-title a {
			color: #235c63;
		}
	.post .post_content_data {
		padding-right: 15px;
		height: 66px;
		
		padding-top: 20px;
		
		background: url('images/blog_separador.png') no-repeat right top;
	}
	.post .post_content_data .dia {
		color: #4ec8c7 !important;
	}
	
	.post .post_content_data .mes {
		color: #235c63 !important;
	}
	
	.post #entry-conteudo {
	    position: relative;
	
		border-bottom: 1px dotted #878989;
		
		min-height: 90px;
	}
	
	.post .entry-content {
		font-size: 12px;
		font-family: Arial, Tahoma, sans-serif;
		
		color: #555;
		
		float: left;
		
		width: 560px;
	}
	
	.post .cat-links a {
		color: #235c63;
		
		font-size: 14px;
		font-weight: 500;
	}
	
	.post #share {
		margin-top: 7px;
	}
	
	.post #share_facebook {
		float: left;
		border-right: 1px solid #D2D2D2;
		width: 165px;
		height: 27px;
		margin-right: 20px;
		padding-top: 3px;
	}
	.fb_iframe_widget {
		display: block !important;
	}
	.fb_iframe_widget span {
	    width: 450px !important;
	    min-width: 450px !important;
	    
	}
	
	.post #share_twitter {
		float: left;
		border-right: 1px solid #D2D2D2;
		width: 105px;
		margin-right: 20px;
		padding-top: 3px;
	}
	
	.post #share_plus {
		float: left;
		padding-top: 3px;
	}
	
.continue_lendo {
    background: url('images/blog_separador.png') no-repeat left center;
    
    float: left;
    
    height: 60px;
    width: 92px;

	position: absolute;
	right: 0;
	top: 25%;
}
    .continue_lendo a {
        font-size: 15px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight: bold;
        
        color: #235C63;
        
        width: 30px;
        
        margin-top: 15px;
        margin-left: 20px;
        
        display: inline-block;
        line-height: 16px;
    }
    .continue_lendo a:hover {
        text-decoration: underline;
    }

.paginacao_post {
	text-align: right;
	
	margin-bottom: 20px;
}




.resultado_busca {
	border: 1px solid #dbdbdb !important;
	
	padding: 20px;
	margin-bottom:20px;
	margin-top: 15px;
	
	box-shadow: 3px 3px 0 #e0e0e0;
	
	background-color: #fff;
}
	.resultado_busca .entry_imagem {
		text-align: center;
		margin-top: 5px;
	}
		.resultado_busca .entry_imagem img {
			border-top: 15px solid #4EC8C7;
			
			padding-bottom: 5px;
			background: url('images/bg_imagem_blog.png') repeat-x left bottom;
			
			max-width: 654px;
		}
	.resultado_busca .entry-header {
		padding-bottom: 5px;
		border-bottom: 1px dotted #878989;
	}
	.resultado_busca .cat-links {
		display: block;
		
		margin-left: 72px;
	}
	.resultado_busca .entry-title {
		display: inline-block;
		
		padding: 0 !important;
		
		margin-left: 10px !important;
		
		line-height: 28px !important;
		font-size: 26px !important;
		
		font-family: 'Swiss', Arial, Tahoma, sans-serif;
		
		width: 490px;
	}
		.resultado_busca .entry-title a {
			color: #235c63;
		}
	.resultado_busca .post_content_data {
		padding-right: 15px;
		height: 66px;
		
		padding-top: 20px;
		
		background: url('images/blog_separador.png') no-repeat right top;
	}
	.resultado_busca .post_content_data .dia {
		color: #4ec8c7 !important;
	}
	
	.resultado_busca .post_content_data .mes {
		color: #235c63 !important;
	}
	
	.resultado_busca #entry-conteudo {
	    position: relative;
	
		border-bottom: 1px dotted #878989;
		
		min-height: 90px;
	}
	
	.resultado_busca .entry-content {
		font-size: 11px;
		font-family: Arial, Tahoma, sans-serif;
		
		color: #555;
		
		float: left;
		
		width: 560px;
	}
	
	.resultado_busca .cat-links a {
		color: #235c63;
		
		font-size: 14px;
		font-weight: 500;
	}
	
	.resultado_busca #share {
		margin-top: 7px;
	}
	
	.resultado_busca #share_facebook {
		float: left;
		border-right: 1px solid #D2D2D2;
		width: 140px;
		margin-right: 20px;
		padding-top: 3px;
	}
	
	.resultado_busca #share_twitter {
		float: left;
		border-right: 1px solid #D2D2D2;
		width: 105px;
		margin-right: 20px;
		padding-top: 3px;
	}
	
	.resultado_busca #share_plus {
		float: left;
		padding-top: 3px;
	}





.sidebar_blog .widget {
	margin-left: 15px;
}
	.sidebar_blog .widget h2 {
		font-size: 22px;
		
	}
		.sidebar_blog .widget h2 img {
			margin-right: 5px;
		}
	
	.sidebar_blog .widget li {
		list-style-image: url('images/list_style.png');
		list-style-position: inside;
		
		font-size: 14px;
		font-family: Helvetica, Arial, Tahoma;
		
		line-height: 24px;
	}
	.sidebar_blog .widget a {
		color: #686868;
		font-weight: normal;
	}
	
	.sidebar_blog .twitter-message {
		font-size: 11px;
		font-family: Arial, Tahoma, sans-serif;
	}
	
		.sidebar_blog .twitter-message:last-child {
			margin: 0;
		}


		.social-media-facebook {
			width:216px;
			height:240px;
			overflow:hidden;
			text-align:center;
		}
		
		.social-media-facebook iframe {
			margin:-1px;
			border:none;
			overflow:hidden;
			width:216px;
			height:240px;
		}
		
		.connect_top {
			background-color: #eceff5 !important;
		}
		
		
		
		iframe.facebook{
			border: none !important;
		}
		iframe div .fbConnectWidgetTopmost { border: none !important; }
		iframe.facebook .fbConnectWidgetFooter { display: none !important; }

		.fbConnectWidgetTopmost { 
			border: none !important;
		}
		
		.fan_box .full_widget .connect_top {
			background-color: transparent;
		}

		.fan_box .connections_grid .grid_item {
			padding-right: 13px !important;
		}
		
		.full_widget {
			border: none !important;
		}

		.shareinpost {
			padding-top: 10px !important;
			padding-bottom: 5px !important;
		}
		/* Facebook (fim) */

#comments {
	border: 1px solid #dbdbdb !important;
	
	padding: 20px;
	margin-bottom:20px;
	margin-top: 15px;
	
	box-shadow: 3px 3px 0 #e0e0e0;
	
	background-color: #fff;
}


#access div {

}
#primary {
	float: left;
	margin: 0 -26.4% 0 0;
	width: 970px;
}
#content {
	margin-bottom: 25px;
	
	position: relative;
}

#sidebar-page {
	float: left;
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom: 10px;
	
	width: 235px;
}
.widget {
	padding-top: 30px;
}
.widget h2 {
	font-size: 24px;
	color: #0f4d5a;
	
	padding: 0;
	margin: 0;
	
	font-family: 'Swiss', Arial, Tahoma, sans-serif;
	
	margin-bottom: 15px;
	padding-bottom: 5px;
	
	line-height: 26px;
	
	background: url('images/titulo_sublinhado.png') no-repeat left bottom;
}

.widget_paragrafo {
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	line-height: 14px;
	margin: 0;
	margin-bottom: 7px;
}
.widget_blog {
	padding-left: 15px;
}
#sidebar-menu ul li ul {
	display: none;
}
#sidebar-menu li {
	display: block;
	
	list-style-image: url('images/list_style.png');
	list-style-position: outside;
	
	background: url('images/separador_sidebar.png') no-repeat left top;
	
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	
	
}
	#sidebar-menu li a {
		display: block;
		
		text-shadow: 1px 1px 0 #fff;
		color: #787878;
		font-weight: normal !important;
		
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		
		background-image: url('images/seta_submenus.png');
		background-repeat: no-repeat;
		background-position: 16px 16px;
		
		position: relative;
		top: 6px;
	}
	#sidebar-menu li a:hover {
		background: #eaeaea; /* Old browsers */
		
		background-image: url('images/seta_submenus.png');
		background-repeat: no-repeat;
		background-position: 16px 16px;
		
		text-decoration: none !important;
	}
	
.post_content {
	border-bottom: 1px dotted #bebebe;
	
	padding-bottom: 5px;
	margin-bottom: 8px;
}
	
	
.post_content_data {
	float: left;
	width: 35px;
	text-align: center;
	line-height: 11px;
	margin-right: 10px;
}
	.post_content_data .dia {
		color: #8A8A8A;
		font-size: 30px;
		float: left;
		line-height: 27px;
	}
	.post_content_data .mes {
		color: #8A8A8A;
		font-size: 14px;
		clear: both;
	}
	
.post_content_link {
font-family: Arial, Tahoma, sans-serif;
font-size: 11px;
line-height: 14px;
margin: 0 0 7px 50px;
width: 170px;
}

.post_content_resumo {
color: #999;
font-family: Arial, Tahoma, sans-serif;
font-size: 11px;
line-height: 13px;
margin-left: 50px;
width: 170px;
}

.post_content_link_home { width: 240px; }

	.post_content_link a {
		font-weight: normal !important;
		color: #767676;
	}
	.post_content_link a:hover {
		color: #333;
		
		text-decoration: underline;
	}

#secondary {
    padding-left: 4px;
    background: url('images/bg_sidebar.png') no-repeat left top;
    min-height: 777px;
    margin-bottom: 20px;
}

/* Singular */
.singular #primary {
	margin: 0;
	
	overflow: hidden;
}
.singular #content,
.left-sidebar.singular #content {

}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {

}

.entry-content ul {
    margin: 0 0 30px 20px;
}


/* Attachments */
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
}
.singular .image-attachment .entry-description {
	margin: 0 auto;
	width: 68.9%;
}

/* Showcase */
.page-template-showcase-php #primary,
.left-sidebar.page-template-showcase-php #primary {
	margin: 0;
}
.page-template-showcase-php #content,
.left-sidebar.page-template-showcase-php #content {
	margin: 0 7.6%;
	width: auto;
}
.page-template-showcase-php section.recent-posts {
	float: right;
	margin: 0 0 0 31%;
	width: 69%;
}
.page-template-showcase-php #main .widget-area {
	float: left;
	margin: 0 -22.15% 0 0;
	width: 22.15%;
}



/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
	float: right;
	margin: 0 0 0 -26.4%;
	width: 100%;
}
.left-sidebar #content {
	margin: 0 7.6% 0 34%;
	width: 58.4%;
}
.left-sidebar #secondary {
	float: left;
	margin-left: 7.6%;
	margin-right: 0;
	width: 18.8%;
}

/* One column */
.one-column #page {
	max-width: 690px;
}
.one-column #content {
	margin: 0 7.6%;
	width: auto;
}
.one-column #nav-below {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.625em;
}
.one-column #secondary {
	float: none;
	margin: 0 7.6%;
	width: auto;
}
/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
	float: none;
	margin: 0;
	width: 100%;
}
.one-column .page-template-showcase-php #main .widget-area {
	float: none;
	margin: 0;
	width: auto;
}
.one-column .page-template-showcase-php .other-recent-posts {
	border-bottom: 1px solid #ddd;
}
/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
	border: none;
	display: block;
	height: auto;
	max-width: 60%;
	position: static;
}
.one-column article.feature-image.small {
	margin: 0 0 1.625em;
	padding: 0;
}
.one-column article.feature-image.small .entry-title {
	font-size: 20px;
	line-height: 1.3em;
}
.one-column article.feature-image.small .entry-summary {
	height: 150px;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
}
.one-column article.feature-image.small .entry-summary a {
	left: -9%;
}
/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
	width: 100%;
}
/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
	margin: 0 0 1.625em;
}
.one-column.singular .pull.alignleft {
	margin: 0 1.625em 0 0;
}
.one-column.singular .pull.alignright {
	margin: 0 0 0 1.625em;
}
.one-column.singular .entry-meta .edit-link a {
	position: absolute;
	left: 0;
	top: 40px;
}
.one-column.singular #author-info {
	margin: 2.2em -8.8% 0;
	padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
	margin-left: 102px;
	width: auto;
}
/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
	right: 40px;
	top: 4em;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
	margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
	margin-right: 85px;
}
.one-column .commentlist .avatar {
	background: transparent;
	display: block;
	padding: 0;
	top: 1.625em;
	left: auto;
	right: 1.625em;
}
.one-column .commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2em;
	left: 2.2em;
}
.one-column #respond {
	width: auto;
}


/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}
body {

}
#page {

}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	/*clear: both;*/
}
h2 {
    display: block;
    font-size: 18px;
    color: #666;
    font-family: Swiss;
}
h3 {
    display: block;
    font-size: 15px;
    color: #666;
    font-family: Swiss;
}
h4 {
    display: block;
    font-size: 13px;
    color: #666;
    font-family: Swiss;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
p {
	margin-bottom: 1.625em;
}
ul, ol {
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
    font-style: italic;
    font-weight: normal;
    margin: 0 3em;
    font-size: 16px;
    float: right;
    width: 180px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
}

blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Forms */

input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}

/* Links */
.btn_geral{
	height: 27px;
	
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	
	font-weight: normal !important;
	
	color: white;
	
	display: inline-block;
	
	background: url('images/btn_geral.png') no-repeat top center;
	
	padding-left: 15px;
	padding-right: 15px;
	
	line-height: 25px;
}


.btn_geral:hover {
	background: url('images/btn_geral.png') no-repeat bottom center;
}


a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}


/* =Header
----------------------------------------------- */

#branding {

	position: relative;
	z-index: 9999;
}
#site-title {
	margin-right: 270px;
	padding: 3.65625em 0 0;
}
#site-title a {
	color: #111;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}
#site-description {
	color: #7a7a7a;
	font-size: 14px;
	margin: 0 270px 3.65625em 0;
}
#branding img {
	height: auto;
	margin-bottom: -7px;
	width: 100%;
}


/* =Menu
-------------------------------------------------------------- */
li.parent-menu {
	
}
li.parent-menu > a {
    padding-right: 25px !important;
}

.sub-menu .parent-menu > a {
	padding-right: 10px !important;
}


#access {
	border-left: 1px solid #42707B;
	clear: both;
	display: block;
	margin: 0 auto;
	width: 970px;
}
#access ul {
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
	
	border-right: 1px solid #42707B;
	border-left: 1px solid #175663;
	
	/* background: url('images/menu_separador.png') no-repeat top right; */
}

#access a {
	color: #eee;
	display: block;
	font-size: 10px;
	
	line-height: 47px;
	/*padding: 0 14px;*/
	text-decoration: none;
}

#access li > a {
	/*background: url('images/bg_menu_selecionado.png') no-repeat top center;*/
}


#access ul ul li a {
	text-transform: none;
}
#access ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	/* top: 3.333em; */
	left: 0;
	width: 188px;
	z-index: 99999;
}
/*
#menu-item-42 a {
	background: url('images/menu_seta.png') no-repeat 78px 21px;
	padding-right: 26px;
	padding-left: 7px;
}

#menu-item-41 a {
	background: url('images/menu_seta.png') no-repeat 157px 21px;
	padding-right: 26px;
	padding-left: 7px;
}
*/

#menu-item-4>a,
#menu-item-42>a,
#menu-item-40>a,
#menu-item-41>a,
#menu-item-163>a,
#menu-item-12>a,
#menu-item-37>a { text-align: center; }
#menu-item-42>a { text-align: right; background-position-x: 74px !important;}
#menu-item-40>a { text-align: right; }
#menu-item-41>a { text-align: right; padding-left:15px;}
#menu-item-5151>a{text-align:right; padding-left:13px;}
#menu-item-163>a { text-align: right; background-position-x: 80px !important;}
#menu-item-4 { width: 62px; }
#menu-item-42 { width: 93px; }
#menu-item-40 { width: 158px; }
#menu-item-41 { /*width: 190px;  width: 200px;*/ 190px }
#menu-item-39 { /*width: 150px; width: 115px; */ }
#menu-item-163 { width: 99px;  }
#menu-item-12 { /*width: 85px;*/ width: 79px; }
#menu-item-37 { /*width: 85px;*/ width: 78px; }

#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul li {
	border-left: none;
}
#access ul ul a {
	border-bottom: 1px solid #056370;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 192px;
	
	border-left: none;
}


#access li.parent-menu > a {
	background: url('images/home_submenu_seta.png') no-repeat 93% 50%;
}

.sub-menu li.parent-menu > a {
	background: url('images/home_submenu_seta_direita.png') no-repeat 93% 50% !important;
}


#access li:hover {
	background: #038891; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODg5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2NWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #038891 0%, #00565d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#038891), color-stop(100%,#00565d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #038891 0%,#00565d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #038891 0%,#00565d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #038891 0%,#00565d 100%); /* IE10+ */
	background: linear-gradient(top,  #038891 0%,#00565d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038891', endColorstr='#00565d',GradientType=0 ); /* IE6-8 */
}

.sub-menu li {
    background: #00565c;
}

.sub-menu2 li {
	background: #038891; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODg5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2NWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #038891 0%, #00565d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#038891), color-stop(100%,#00565d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #038891 0%,#00565d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #038891 0%,#00565d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #038891 0%,#00565d 100%); /* IE10+ */
	background: linear-gradient(top,  #038891 0%,#00565d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038891', endColorstr='#00565d',GradientType=0 ); /* IE6-8 */
	
}
.sub-menu2 li:hover {
	background: #1d6c7b !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNmM3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDQ2NTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  #1d6c7b 0%, #104650 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d6c7b), color-stop(100%,#104650)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* IE10+ */
	background: linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d6c7b', endColorstr='#104650',GradientType=0 ) !important; /* IE6-8 */
	
}



#access ul li:hover > ul {
	display: block;
}

.sub-menu .current-menu-item,
.sub-menu .current_page_item {
	background: #1d6c7b !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNmM3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDQ2NTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  #1d6c7b 0%, #104650 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d6c7b), color-stop(100%,#104650)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* IE10+ */
	background: linear-gradient(top,  #1d6c7b 0%,#104650 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d6c7b', endColorstr='#104650',GradientType=0 ) !important; /* IE6-8 */
	font-weight: bold;
}

#access .current-menu-ancestor,
#access .current_page_ancestor,
#access .current-menu-item,
#access .current_page_item {
	background: #038891; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODg5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2NWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #038891 0%, #00565d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#038891), color-stop(100%,#00565d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #038891 0%,#00565d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #038891 0%,#00565d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #038891 0%,#00565d 100%); /* IE10+ */
	background: linear-gradient(top,  #038891 0%,#00565d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038891', endColorstr='#00565d',GradientType=0 ); /* IE6-8 */
	font-weight: bold;
}

/* Search Form */
#branding #searchform {
	position: absolute;
	top: 3.8em;
	right: 7.6%;
	text-align: right;
}
#branding #searchform div {
	margin: 0;
}
#branding #s {
	float: right;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 72px;
}
#branding #s:focus {
	background-color: #f9f9f9;
	width: 196px;
}
#branding #searchsubmit {
	display: none;
}
#branding .only-search #searchform {
	top: 5px;
	z-index: 1;
}
#branding .only-search #s {
	background-color: #666;
	border-color: #000;
	color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
	width: 85%;
}
#branding .only-search #s:focus {
	background-color: #bbb;
}
#branding .with-image #searchform {
	top: auto;
	bottom: -27px;
	max-width: 195px;
}
#branding .only-search + #access div {
	padding-right: 205px;
}


/* =Content
----------------------------------------------- */
.clear {
	clear: both;
}
#main {
	clear: both;
	
	background: url('images/bg_conteudo_topo.png') repeat-x top center;
}
#bg-conteudo {
	background: url('images/bg_conteudo_baixo.png') repeat-x bottom center;
}
#conteudo {
	width: 970px;
	margin: 0 auto;
}


.page-title {

}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry,
.no-results {
	border-bottom: 1px solid #ddd;
	position: relative;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title,
.entry-header .entry-meta {
	padding-right: 76px;
}
.entry-title {
	clear: both;
	color: #222;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: .3em;
	padding-top: 15px;
}
.entry-title,
.entry-title a {
	color: #222;
	text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {
	display: none;
}
.entry-content,
.entry-summary {
	padding: 1.625em 0 0;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.entry-content h3,
.comment-content h3 {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
	
	display: none;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

.imagem_pagina {
	position: relative;
	margin-bottom: 10px;
}
.imagem_legenda {
	position: absolute;
	top: 68%;
	
	background-color: #000;
	opacity: 0.6;
	
	
}
	.imagem_legenda p {
		margin: 0;
		color: white;
		
		padding: 8px 14px;
		
		font-family: "Swiss", Arial, Tahoma, sans-serif;
		text-transform: uppercase;
		font-size: 14px;
	}


/* Images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	background: #eee;
	margin-bottom: 1.625em;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 10px 0 5px 40px;
	position: relative;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#content .gallery {
	margin: 0 auto 1.625em;
}
#content .gallery a img {
	border: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}

/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border: 1px solid #ddd;
	padding: 6px;
}
.wp-caption img {
	border-color: #eee;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {/* ... including captioned images! */
	background: #fff;
	border-color: #ddd;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
	background: #f7f7f7;
}

/* Author Info */
#author-info {
	font-size: 12px;
	overflow: hidden;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em -35.6% 0 -35.4%;
	padding: 20px 35.4%;
}
.archive #author-info {
	border-bottom: 1px solid #ddd;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
#author-avatar {
	float: left;
	margin-right: -78px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	padding: 3px;
}
#author-description {
	float: left;
	margin-left: 108px;
}
#author-description h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 10px;
}

/* Comments link */
.entry-header .comments-link a {
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	overflow: hidden;
	padding: 0 0 0;
	float: right;
	right: 0;
	text-align: right;
	text-decoration: none;
	
	height: 25px;
}
.comments-link {
	text-align: right;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: -5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
article.format-status .entry-content {
	min-height: 65px;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
#content-page {
	width: 695px;
	float: left;
	
	
	margin-top: 15px;
	margin-left: 20px;
}


.singular .hentry {
	border-bottom: none;
	position: relative;
}
.singular.page .hentry {
}
.singular .entry-title {
	color: #18606e;
	font-size: 26px;
	font-weight: normal;
	line-height: 38px;
	
	font-family: 'Swiss', Arial, Tahoma, sans-serif;
	
	text-transform: uppercase;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
	position: absolute;
	top: 0;
	left: 0;
}

#breadcrumb {
	background: url('images/bg_breadcrumb.png') no-repeat left top;
	
	margin-left: -20px;
}
#breadcrumb p {
	margin-left: 30px !important;
	float: left;
}
#breadcrumb p, #breadcrumb a {
	color: #868686;
	
	margin: 0;
	
	line-height: 18px;
	
	font-size: 11px;
	
	margin-top: 13px;
	
	font-family: Arial, Tahoma, sans-serif;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#breadcrumb-baixo {
	background: url('images/bg_breadcrumb_baixo.png') no-repeat left top;
	
	width: 715px;
	height: 10px;
}


.singular .entry-content {
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;
	
	color: #6e6e6e;
	
	margin-bottom: 35px;
}

blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 0 1.625em;
	text-align: center;
}
.singular blockquote.pull {
	margin: 0 -22.25% 1.625em;
}
.pull.alignleft {
	margin: 0 1.625em 0 0;
	text-align: right;
	width: 33%;
}
.singular .pull.alignleft {
	margin: 0 1.625em 0 -22.25%;
}
.pull.alignright {
	margin: 0 0 0 1.625em;
	text-align: left;
	width: 33%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 1.625em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}
.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 50px;
	position: absolute;
	right: auto;
	top: 80px;
}


/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 1.625em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 1.625em 0 0;
}


/* =Gallery
----------------------------------------------- */

.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 1.625em 0 0;
}


/* =Status
----------------------------------------------- */

.format-status .entry-title,
.format-status .entry-header .comments-link {
	display: none;
}
.singular .format-status .entry-title {
	display: block;
}
.format-status .entry-content {
	padding: 0;
}
.singular .format-status .entry-content {
	padding: 1.625em 0 0;
}
.format-status img.avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	float: left;
	margin: 4px 10px 2px 0;
	padding: 0;
}


/* =Quote
----------------------------------------------- */

.format-quote blockquote {
	color: #555;
	font-size: 17px;
	margin: 0;
}


/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}
.indexed.format-image footer.entry-meta {
	background: #ddd;
	margin-top: -7px;
	padding: 20px 30px;
	overflow: hidden;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 11px;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}


/* =error404
----------------------------------------------- */



/* =Showcase
----------------------------------------------- */

h1.showcase-heading {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}

/* Intro */
article.intro {
	background: #f9f9f9;
	border-bottom: none;
	margin: -1.855em -8.9% 1.625em;
	padding: 0 8.9%;
}
article.intro .entry-title {
	display: none;
}
article.intro .entry-content {
	color: #111;
	font-size: 16px;
	padding: 1.625em 0 0.625em;
}
article.intro .edit-link a {
	background: #aaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 0 8px;
	position: absolute;
	top: 30px;
	right: 20px;
	text-decoration: none;
}
article.intro .edit-link a:hover,
article.intro .edit-link a:focus,
article.intro .edit-link a:active {
	background: #777;
}

/* Featured post */
section.featured-post {
	float: left;
	margin: -1.625em -8.9% 1.625em;
	padding: 1.625em 8.9% 0;
	position: relative;
	width: 100%;
}
section.featured-post .hentry {
	border: none;
	color: #666;
	margin: 0;
}
section.featured-post .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Small featured post */
section.featured-post .attachment-small-feature {
	float: right;
	height: auto;
	margin: 0 -8.9% 1.625em 0;
	max-width: 59%;
	position: relative;
	right: -15px;
}
section.featured-post.small {
	padding-top: 0;
}
section.featured-post .attachment-small-feature:hover,
section.featured-post .attachment-small-feature:focus,
section.featured-post .attachment-small-feature:active {
	opacity: .8;
}
article.feature-image.small {
	float: left;
	margin: 0 0 1.625em;
	width: 45%;
}
article.feature-image.small .entry-title {
	line-height: 1.2em;
}
article.feature-image.small .entry-summary {
	color: #555;
	font-size: 13px;
}
article.feature-image.small .entry-summary p a {
	background: #222;
	color: #eee;
	display: block;
	left: -23.8%;
	padding: 9px 26px 9px 85px;
	position: relative;
	text-decoration: none;
	top: 20px;
	width: 180px;
	z-index: 1;
}
article.feature-image.small .entry-summary p a:hover {
	background: #1982d1;
	color: #eee;
	color: rgba(255,255,255,0.8);
}

/* Large featured post */
section.feature-image.large {
	border: none;
	max-height: 288px;
	padding: 0;
	width: 100%;
}
section.feature-image.large .showcase-heading {
	display: none;
}
section.feature-image.large .hentry {
	border-bottom: none;
	left: 9%;
	margin: 1.625em 9% 0 0;
	position: absolute;
	top: 0;
}
article.feature-image.large .entry-title a {
	background: #222;
	background: rgba(0,0,0,0.8);
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	padding: .2em 20px;
}
section.feature-image.large:hover .entry-title a,
section.feature-image.large .entry-title:hover a {
	background: #eee;
	background: rgba(255,255,255,0.8);
	color: #222;
}
article.feature-image.large .entry-summary {
	display: none;
}
section.feature-image.large img {
	display: block;
	height: auto;
	max-width: 117.9%;
	padding: 0 0 6px;
}

/* Featured Slider */
.featured-posts {
	border-bottom: 1px solid #ddd;
	display: block;
	height: 328px;
	margin: 1.625em -8.9% 20px;
	max-width: 1000px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.featured-posts .showcase-heading {
	padding-left: 8.9%;
}
.featured-posts section.featured-post {
	background: #fff;
	height: 288px;
	left: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	width: auto;
}
.featured-posts section.featured-post.large {
	max-width: 100%;
	overflow: hidden;
}
.featured-posts section.featured-post {
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: opacity, visibility;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 200ms;
	-moz-transition-property: opacity, visibility;
	-moz-transition-timing-function: ease;
}
.featured-posts section.featured-post {
	opacity: 0;
	visibility: hidden;
}
.featured-posts #featured-post-1 {
	opacity: 1;
	visibility: visible;
}
.featured-post .feature-text:after,
.featured-post .feature-image.small:after {
	content: ' ';
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	width: 100%;
	height: 45px;
	position: absolute;
	top: 230px;
}
.featured-post .feature-image.small:after {
	top: 253px;
}
#content .feature-slider {
	top: 5px;
	right: 8.9%;
	overflow: visible;
	position: absolute;
}
.feature-slider ul {
	list-style-type: none;
	margin: 0;
}
.feature-slider li {
	float: left;
	margin: 0 6px;
}
.feature-slider a {
	background: #3c3c3c;
	background: rgba(60,60,60,0.9);
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	display: block;
	width: 14px;
	height: 14px;
}
.feature-slider a.active {
	background: #1982d1;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	cursor: default;
	opacity: 0.5;
}

/* Recent Posts */
section.recent-posts {
	padding: 0 0 1.625em;
}
section.recent-posts .hentry {
	border: none;
	margin: 0;
}
section.recent-posts .other-recent-posts {
	border-bottom: 1px solid #ddd;
	list-style: none;
	margin: 0;
}
section.recent-posts .other-recent-posts li {
	padding: 0.3125em 0;
	position: relative;
}
section.recent-posts .other-recent-posts .entry-title {
	border-top: 1px solid #ddd;
	font-size: 17px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"] {
	color: #373737;
	float: left;
	max-width: 84%;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:after {
	content: '-';
	color: transparent;
	font-size: 11px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:hover {
}
section.recent-posts .other-recent-posts .comments-link a,
section.recent-posts .other-recent-posts .comments-link > span {
	border-bottom: 2px solid #999;
	bottom: -2px;
	color: #444;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	padding: 0.3125em 0 0.3125em 1em;
	position: absolute;
	right: 0;
	text-align: right;
	text-transform: uppercase;
	z-index: 1;
}
section.recent-posts .other-recent-posts .comments-link > span {
	border-color: #bbb;
	color: #888;
}
section.recent-posts .other-recent-posts .comments-link a:hover {
	color: #1982d1;
	border-color: #1982d1;
}
section.recent-posts .other-recent-posts li:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}


/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 12px;
}
.widget {
	clear: both;
}
.widget-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.widget ul {
	font-size: 15px;
	margin: 0;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
	color: #777;
	font-size: 13px;
}
.widget a {
	font-weight: bold;
	text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {

}

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 77%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
	list-style: square;
	margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.widget_twentyeleven_ephemera .comments-link a,
.widget_twentyeleven_ephemera .comments-link > span {
	color: #666;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	text-transform: uppercase;
}
section.ephemera .entry-title .comments-link a:hover,
.widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}
section.ephemera .entry-title a span {
	color: #29628d;
}

/* Twitter */
.widget_twitter li {
	list-style-type: none;
	margin-bottom: 14px;
}
.widget_twitter .timesince {
	display: block;
	font-size: 11px;
	margin-right: -10px;
	text-align: right;
}

/* Widget Image */
.widget_image img {
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
	
	display: none;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;

}
.reply {
	text-align: right;
}
.comment-content {
	font-size: 12px;
	font-family: Arial, tahoma, sans-serif;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	
	padding-bottom: 15px;
	
	border-bottom: 1px dotted #878787;
	
	margin-bottom: 15px;
	
	position: relative;
}
.comment-author {
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	
	color: #686868;
}
.comment-author a {
	color: #686868;
}

.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.commentlist > li:before {

}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	
}
#respond textarea {
	display: block;
	height: 130px;
	width: 330px;
	
	background-image: url('images/bg_textarea.png');
	border: none;
	padding: 10px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	
	resize: none;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {

}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 14px;
	font-weight: bold;
	left: 39%;
	position: absolute;
	top: 23px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 11px;
	
	font-family: Arial, Tahoma, sans-serif;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {

}
#respond input#submit {
	height: 27px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: normal !important;
	color: white;
	display: inline-block;
	background: url('images/btn_geral.png') no-repeat top center;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 18px;
	margin-top: 5px;
	border: none;
	
	cursor: pointer;
}
#respond input#submit:hover {
	background-position: bottom center;
}

#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
	font-weight: bold;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #18606E;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	
	text-shadow: 1px 1px 0 #fff;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
	
	font-weight: 500;
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;
}
#respond input[type='text'] {
	display: block;
	height: 24px;
	width: 230px;
	
	background-image: url('images/bg_campo.png');
	border: none;
	
	padding: 0 10px;
	
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
}

#rodape-cima {
	width: 100%;
	padding-bottom: 30px;
	
	background: url('images/bg_rodape_cima.png') #16869e repeat-x top left;
	
	border-bottom: 1px solid #757575;
}
#rodape-cima-conteudo {
	width: 970px;
	margin: 0 auto;
}

#rodape-cima-conteudo a{
	color: #fff;
}

#rodape-cima-conteudo a:hover{
	color: #e1fafa;
}

#rodape-cima-conteudo li {
   	color: white;	
	font-size: 11px;
	line-height: 14px;
    list-style-image: url('images/list_style_rodape.png');
    list-style-position: outside;
	margin-bottom: 6px;
}
#rodape-cima-conteudo li ul {
    margin: 5px 0 15px 10px;
}

.sitemap{
	float: left;
	font-size: 11px;
	color: #b3b3b5;
	margin-top: 29px;
	margin-right:10px;
	float:right;
	text-decoration:none;
}
.sitemap:hover{
	text-decoration:none;
	color:#fff;
}

.posts_insights {
	width: 720px;
	float: left;
}
	.posts_insights h3 {
		color: white;
		
		font-size: 18px;
		font-family: Arial, Tahoma, sans-serif;
		
		margin-top: 18px;
		margin-bottom: 5px;
	}
	.posts_insights ul {
		margin-left: 15px;
	}
	.posts_insights p {
		margin-bottom: 8px;
	}
	
.posts_insights .post_content_link_home, .posts_insights .post_content_resumo {
	width: 640px;
}
.posts_insights .post_content_data span {
	color: white;
}
.posts_insights .post_content_resumo {
	color: #efefef;
}
.posts_insights .post_content_link_home a {
	font-size: 12px;
	font-weight: bold !important;
}

.acesso_rapido_box {
	width: 165px; 
	
	float: left;
	
	/* background: url('images/separador_menu_rodape.png') no-repeat top right; */
}
	.acesso_rapido_box h3 {
		color: white;
		
		font-size: 18px;
		font-family: Arial, Tahoma, sans-serif;
		
		margin-top: 18px;
		margin-bottom: 5px;
	}
	.acesso_rapido_box ul {
		margin-left: 15px;
	}
.educacao_executiva_box {
	/* width: 165px; */
	width: 328px;

	float: left;

	/* background: url('images/separador_menu_rodape.png') no-repeat top right; */
}
	.educacao_executiva_box h3 {
		color: white;
		
		font-size: 18px;
		font-family: Arial, Tahoma, sans-serif;
		
		margin-top: 18px;
		margin-bottom: 5px;
		margin-left: 30px;
	}
	.educacao_executiva_box ul {
		margin-right: 30px;
		margin-left: 45px;
	}
	
.educacao_corporativa_box {
	/* width: 165px; */
	width: 240px;

	float: left;

	/* background: url('images/separador_menu_rodape.png') no-repeat top right; */
}
	.educacao_corporativa_box h3 {
		color: white;

		font-size: 18px;
		font-family: Arial, Tahoma, sans-serif;

		margin-top: 18px;
		margin-bottom: 5px;
		margin-left: 25px;
	}
	.educacao_corporativa_box ul {
		margin-right: 30px;
		margin-left: 40px;
	}

.educacao_corporativa_box {
	/* width: 165px; */
	width: 240px;

	float: left;

	/* background: url('images/separador_menu_rodape.png') no-repeat top right; */
}
	.educacao_corporativa_box h3 {
		color: white;

		font-size: 18px;
		font-family: Arial, Tahoma, sans-serif;

		margin-top: 18px;
		margin-bottom: 5px;
		margin-left: 25px;
	}
	.educacao_corporativa_box ul {
		margin-right: 30px;
		margin-left: 40px;
	}
	
.newsletters_box {
	/* width: 165px; */
	width: 237px;

	float: left;

}
	.news_logo {
		margin-left: 30px;
		margin-top: 20px;
	}
	
#formulario-newsletter {
	margin-left: 30px;
	margin-top: 10px;
}

.news_campo {
	width: 205px;
	height: 24px;
	
	border: none;
	
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	
	color: #7a7a7a;
	
	padding-left: 10px;
	padding-right: 10px;
	
	background: url('images/bg_campo_news.png') no-repeat top left;
	
	margin-bottom: 3px;
}
.submit_btn {
	height: 27px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: normal !important;
	color: white;
	display: inline-block;
	background: url('images/btn_geral.png') no-repeat top center;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 18px;
	
	margin-top: 5px;
	
	border: none;
	
	float: right;
	
	cursor: pointer;
}
.submit_btn:hover {
	background-position: bottom center;
}

#result-newsletter-txt {
	text-align: right;
	
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	color: white;
	
	margin-top: 5px;
}

#rodape-baixo {
	width: 100%;
	min-height: 64px;
	
	background: url('images/bg_rodape_baixo.png') repeat-x top left;
}
#rodape-baixo-conteudo {
	width: 970px;
	margin: 0 auto;
}
#rodape-logo {
	float: left;
	margin-right: 20px;
	padding-top: 20px;
}
#rodape-endereco {
	float: left;
	font-size: 11px;
	
	color: #b3b3b5;
	
	margin-top: 16px;
}
	#rodape-endereco p {
		margin: 0;
	}

#rodape-midias {
	clear: none !important;
	float: right;
	
	margin-top: 20px;
}

#supplementary {
	border-top: 1px solid #ddd;
	padding: 1.625em 7.6%;
	overflow: hidden;
}

/* Two Footer Widget Areas */
#supplementary.two .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Site Generator Line */
#site-generator {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
	padding: 2.2em 0.5em;
	text-align: center;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}
#site-generator .sep {
	background: url(images/wordpress.png) center left no-repeat;
	color: transparent;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin: 0 7px;
	width: 16px;
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		margin: 0 7.6%;
		width: auto;
	}
	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	#main #secondary {
		float: none;
		margin: 0 7.6%;
		width: auto;
	}
	/* Simplify the showcase template */
	.page-template-showcase-php .featured-posts {
		min-height: 280px;
	}
	.featured-posts section.featured-post {
		height: auto;
	}
	.page-template-showcase-php section.recent-posts {
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-template-showcase-php #main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
	.page-template-showcase-php .other-recent-posts {
		border-bottom: 1px solid #ddd;
	}
	/* Simplify the showcase template when small feature */
	section.featured-post .attachment-small-feature,
	.one-column section.featured-post .attachment-small-feature {
		border: none;
		display: block;
		float: left;
		height: auto;
		margin: 0.625em auto 1.025em;
		max-width: 30%;
		position: static;
	}
	article.feature-image.small {
		float: right;
		margin: 0 0 1.625em;
		width: 64%;
	}
	.one-column article.feature-image.small .entry-summary {
		height: auto;
	}
	article.feature-image.small .entry-summary p a {
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 1.625em;
	}
	.singular .pull.alignleft {
		margin: 0 1.625em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 1.625em;
	}
	.singular .entry-meta .edit-link a {
		left: 0;
		position: absolute;
		top: 40px;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}

}
@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#access ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	blockquote.pull {
		font-size: 17px;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 5.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#branding #searchform {
		top: 1.625em !important;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
		position: static;
	}
	.singular .hentry {
		padding: 1.625em 0 0;
	}
	.singular.page .hentry {
		padding: 1.625em 0 0;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media (max-width: 450px) {
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}

}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		margin: 0 auto 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	padding-left: -7.6%;
	padding-right: -7.6%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}

/* CONTATO */

.wpcf7-text, .fm-form input[type="text"] {
	display: block;
	height: 24px;
	width: 230px;
	background-image: url('images/bg_campo.png');
	border: none;
	padding: 0 10px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
}
.fm-form input[type="file"] {
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
}
.wpcf7-textarea, .fm-form textarea {
	display: block;
	height: 130px;
	width: 330px;
	background-image: url('images/bg_textarea.png');
	border: none;
	padding: 10px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	resize: none;
}
.wpcf7-submit, .fm-form input[type="submit"] {
	height: 27px;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: normal !important;
	color: white;
	display: inline-block;
	background: url('images/btn_geral.png') no-repeat top center;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 18px;
	margin-top: 5px;
	border: none;
	cursor: pointer;
}
#fm-item-separator-50917b23b9f92 {
margin-top: 20px !important;
}
#fm-item-separator-50917b23b9f92 label {
font-weight: bold;
display: block;
font-size: 14px;
}
.fm-form ul {
margin: 0 !important;
}
.fm-form input.submit {
float: none !important;
}
.wpcf7-submit:hover {
	background-position: bottom center;
}

/* HOTSITES */
#page-hotsite {
	background: url('images/hotsite/bg_body.jpg') no-repeat center top;
}
#topo-chamada-hotsite {
	width: 970px;
	margin: 0 auto;
}
#topo-chamada-hotsite img {
	padding-top: 33px;
	
	margin-right: 30px;
}

#main-hotsite {
	clear: both;
}

#access-hotsite {
	clear: both;
	display: block;
	
	margin: 0 auto;
	margin-top: 30px;
	
	width: 970px;
}
	#access-hotsite li {
		list-style: none;
		
		float: left;
	}
	#access-hotsite a {
		color: white;
		
		font-size: 16px;
		font-family: Tahoma, Arial, sans-serif;
		
		display: block;
		
		text-shadow: #444 1px 1px 1px;
		
		text-align: center;
		
		line-height: 41px;
		
		padding-bottom: 5px;
	}
	
	#access-hotsite .menu_hotsite_home {
		width: 87px;
		height: 44px;
		
		background: url('images/hotsite/bg_menu.png') no-repeat top left;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_home:hover {
			background-position: 0 -44px;
		}
		
	#access-hotsite .menu_hotsite_cbec {
		width: 141px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -88px 0;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_cbec:hover {
			background-position: -88px -44px;
		}
		

	#access-hotsite .menu_hotsite_diferenciais {
		width: 121px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -88px 0;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_diferenciais:hover {
			background-position: -88px -44px;
		}
		
	#access-hotsite .menu_hotsite_metodologia {
		width: 130px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -88px 0;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_metodologia:hover {
			background-position: -88px -44px;
		}
	
	#access-hotsite .menu_hotsite_cronograma {
		width: 197px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -88px 0;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_cronograma:hover {
			background-position: -88px -44px;
		}
		
	#access-hotsite .menu_hotsite_professores {
		width: 139px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -88px 0;
		border-right: 1px solid #086174;
	}
		#access-hotsite .menu_hotsite_professores:hover {
			background-position: -88px -44px;
		}
		
	#access-hotsite .menu_hotsite_inscreva {
		width: 149px;
		height: 44px;

		background: url('images/hotsite/bg_menu.png') no-repeat -348px 0;
	}
		#access-hotsite .menu_hotsite_inscreva:hover {
			background-position: -348px -44px;
		}
		

#bg-conteudo-hotsite {
	background: url('images/hotsite/bg_conteudo.png') repeat-x 0 260px;
}
		
#conteudo-hotsite {
	width: 970px;
	margin: 0 auto;
}
		
#banners {
	width: 970px;
	height: 279px;
	
	margin-top: 20px;
	
	position: relative;
	background: url('images/bg_banner.png') no-repeat left top;
}


#ipltv-cbec {
	margin-top: 25px;
	
	float: left;
	
	margin-bottom: 30px;
}

	.ipltv_cbec_preview {
		background: #c4c4c4; /* Old browsers */
		background: -moz-linear-gradient(top,  #c4c4c4 0%, #646464 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(100%,#646464)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #c4c4c4 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #c4c4c4 0%,#646464 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #c4c4c4 0%,#646464 100%); /* IE10+ */
		background: linear-gradient(top,  #c4c4c4 0%,#646464 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#646464',GradientType=0 ); /* IE6-9 */
	
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		
		position: relative;
	
		width: 188px;
		height: 109px;
		
		float: left;
		
		margin-right: 30px;
		margin-bottom: 35px;
	}
		.ipltv_cbec_preview .player_ico {
			position: relative;
			left: 36%;
			top: 27%;
		}
		
#cbec-newsletter {
	float: left;
	
	margin-top: 25px;
}
	#cbec-newsletter h2 {
		font-size: 20px;
		margin-bottom: 15px;
		margin-left: 10px;
		color: #F9F9F4;
	}
		
#rodape-hotsite {
	width: 100%;
	height: 178px;
	
	background: url('images/hotsite/bg_rodape.jpg') #212121 no-repeat center top;
}
#rodape-hotsite-conteudo {
	width: 970px;
	height: 178px;
	
	margin: 0 auto;
}

#rodape-hotsite-conteudo-esquerda {
	float: left;
	
	margin-top: 40px;
	margin-left: 20px;
}

#rodape-hotsite-conteudo-direita {
	float: right;
	
	margin-top: 30px;
	margin-right: 20px;
	
	width: 170px;
}
	#rodape-hotsite-conteudo-direita span a {
		float: right;
		
		margin-right: 20px;
		margin-bottom: 6px;
		
		color: white;
		
		text-align: right;
		
		color: white;
		font-size: 16px;
		font-family: Tahoma, Arial, sans-serif;
	}
	

.rede_sociais {
	clear: both;
}
	.rede_sociais .youtube {
		width: 25px;
		height: 23px;
	
		display: block;
		
		float: left;
		
		margin-right: 10px;
	
		background: url('images/ico_midiassociais.png') transparent no-repeat 0 0;
	
		text-indent: -9999px;
	
		cursor: pointer;
	}
	.rede_sociais .twitter {
		width: 25px;
		height: 23px;
	
		display: block;
		
		float: left;
		
		margin-right: 7px;
	
		background: url('images/ico_midiassociais.png') transparent no-repeat -26px 0;
	
		text-indent: -9999px;
	
		cursor: pointer;
	}
	.rede_sociais .linkedin {
		width: 25px;
		height: 23px;
	
		display: block;
		
		float: left;
		
		margin-right: 7px;
	
		background: url('images/ico_midiassociais.png') transparent no-repeat -52px 0;
	
		text-indent: -9999px;
	
		cursor: pointer;
	}
	.rede_sociais .rss {
		width: 25px;
		height: 23px;
	
		display: block;
		
		float: left;
		
		margin-right: 7px;
	
		background: url('images/ico_midiassociais.png') transparent no-repeat -78px 0;
	
		text-indent: -9999px;
	
		cursor: pointer;
	}
	.rede_sociais .facebook {
		width: 25px;
		height: 23px;
	
		display: block;
		
		float: left;
		

	
		background: url('images/ico_midiassociais.png') transparent no-repeat -104px 0;
	
		text-indent: -9999px;
	
		cursor: pointer;
	}
	.rede_sociais .slideshare{
		width: 25px;
		height: 23px;
		display: block;
		float: left;
		margin-left: 4px;
		background: url('images/ico_midiassociais.png') transparent no-repeat -129px 0;
		text-indent: -9999px;
		cursor: pointer;
	}
	
	
#cbec-newsletter {
	float: left;
}
	
.campo_newsletter_hotsite {
	width: 194px;
	height: 26px;
	
	padding: 0 10px;
	
	border: none;
	
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	
	display: block;
	
	background: url('images/hotsite/bg_newsletter.png') no-repeat left top;
}

#acessar-blog {
	float: right;
}

#rodape-programas-abertos li:last-child{
	margin-top: 12px;
}
#rodape-programas-abertos li ul li:last-child {
	margin-top: 0 !important;
}

.semborda {
	border: none !important;
	padding: 0 !important;
	margin-right: 0 !important;
}
#wpcf7-f3726-p3727-o1 textarea {
	width: 600px !important;
	background-image: none !important;
	border: 1px solid #eee !important;
}
div.wpcf7-mail-sent-ng {
	border: 2px solid #398F14!important;
}
#wpcf7-f3726-p3727-o1 .wpcf7-text {
    border: 1px solid #EEEEEE;
    font-size: 11px;
    height: 24px;
    padding: 0 10px;
    width: 230px;
    background-image: none;
}
#wpcf7-f3726-p3727-o1 .nome input {
    width: 303px!important;
}
#wpcf7-f3726-p3727-o1 select, #wpcf7-f3726-p3727-o1 #data {
    height: 24px;
    background-image: none;
    border: 1px solid #EEEEEE;
    padding: 0px 0px 0px 10px;
}

#tweets li {
	font-size: 12px;
	line-height: 20px;
	
	color: #555;
	
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
}